
<tr>
  <td class="block_avatar">
    <%= link_to(image_tag(message.user.avatar.url(:message).to_s), user_path(message.user)) %>
  </td>
  <td class="body">
    <%= link_to user_path(message.user) do %>
        <%= message.user.name %> <%= message.user.surname %>
    <% end %>
    <p><%= message.body %></p>
 
    <%= timeago_tag(message.created_at, :nojs => true, :date_only => false) %>
  </td>
</tr>


