<div class="messagebox">

<div class="row">


  <div class="cell">
<div class="avatar">
  <%= link_to(image_tag(message.user.avatar.url(:mobile).to_s), user_path(message.user)) %>
</div>
</div>

  <div class="cell messagecontent">

  <%= link_to user_path(message.user) do %>
  <%= message.user.name %>
  <%= message.user.surname %>
  <% end %>
  <p><%= message.body %></p>



  <p class="time">  <%= timeago_tag(message.created_at, :nojs => true, :date_only => false) %></p>



</div>





</div>
</div>
