<% title "Ranking" %>

<!--STOCK OF ITEMS  -->
<div class="box6">

  <div class="block margin_top">
    <h1>Vitrines mais Curtidas</h1>

    <div class="content">


    <table class="zebra_branca margin_top">

    

      <tbody>
 <% if @vitrines %>
        <% Vitrine.order(:cached_votes_up).take(50).each do |vitrine| %>
        <tr>
          <td >
            <%= link_to  vitrine_path(vitrine.id) do %>
            <%= image_tag vitrine.logo.url(:mobile).to_s %>
<%= vitrine.name %>
            <% end %>
            
              <% if vitrine.feedbacks %>
            <div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_buyers %>"></div>

            <%= @total_feedbacks %>
            <% end %>
<%= vitrine.votes_for.size%>

            
            </td>

         
        
        </tr>
        <% end %>
 <% end %>

      </tbody>
    </table>

  </div>

</div>

</div>

