<% title "Favoritos" %>
<%= render "shared/favorites_menu" %>

<div class="box3">
  <div class="block margin_top">
    <h1>Produtos Favoritos</h1>
    <div class="content">

      <h4>Total
        <%= current_user.favorite_vitrines.count %>
        Vitrines favoritadas</h4>

        <div class="header"></div>
      <table class="block_search">
        <tr>
          <td>

            <%= search_form_for @q, url:  search_favorites_favorites_path, method: :post  do |f| %>

            <%= f.text_field :id_cont %>
            <%= f.submit "Buscar", :class=>"btn_grey" %>

            <% end %>
          </td>
          <td class="sort">

            Ordernar Por
                       <%= sort_link @q, :created_at, "Data" %>
          
          </td>
        </tr>
      </table>

      <div class="subcontent_top">

        <% @favorite_vitrines.each do |p| %>
        <div class="product_row">

          <div class="product_img">
            <%= link_to  vitrine_path(p.id) do %>
            <%= image_tag p.logo.url(:thumb).to_s %>

            <% end %>
          </div>

          <div class="product_link">

            <%= link_to  vitrine_path(p.id)  do %>
            <%= p.name %>
            <% end%>

            <% if p.feedbacks %>
            <div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_buyers %>"></div>

            <%= @total_feedbacks %>
            <% end %>

        

          </div>
               
          <div class="product_time">

            <span class="lista-time">
              <%= timeago_tag(p.created_at, :nojs => true, :date_only => false)%></span>

          </div>


<div class="product_unmark">
    <%= button_to "Desfavoritar", unmark_favorite_path(p.id), method: :get, :class=>"btn_red btn_small" %>
  </div>
        </div>

        <% end %>
      </div>
    </div>


        <div class="block_pagination">
          <hr class="line"></hr>
          <div class="digg_pagination">
            <%= will_paginate @favorite_vitrines,:container => false, previous_label: h('« Voltar'), next_label: h('Próximo »'),:page_gap => t("......"), :inner_window => 1, :outer_window => 1 %>

          </div>
        </div>
  </div>
</div>

