




<% title "Fatura" %>
<%= render "shared/vitrine_menu" %>
<div class="box3">
  <div class="block  margin_top">
     <%= render 'shared/flash_messages' %>

    <div class="payment_reicept">
      <div class="payment_reicept_top">
 <div class="payment_reicept_logo">

   <%= image_tag('logo.png')  %>



 </div>

 <h1>Comprovante de pagamento</h1>
      </div>

      
 <div class="payment_reicept_section">
   <div>

   <ul>
     <li> Avenida Roberto Silveira nº 95A</li>
     <li> Chácara da Saudade, Paraty/RJ</li>
        
   </ul>

 </div>

 <div>
     
     
      <ul>
                <li><%= @buyer.full_name %></li>
                <li><%= @buyer.user_address if  @buyer.address %></li>
                <li><%= @buyer.user_neighborhood if  @buyer.neighborhood %></li>
                <li><%= @buyer.user_city if  @buyer.city %>
              </li>
              <li><%= @buyer.user_postal_code  if  @buyer.postal_code %></li>
              <li><%= @buyer.user_address_supplement if   @buyer.address_supplement %></li>
              </ul>
 



 </div>   

 </div>



 <div>
   <dl>
   <dt>Data de pagamento</dt>
   <dd><%= @invoice.created_at.strftime('%d/%m/%Y') %></dd>
   <dt>Id da fatura</dt>
   <dd> #<%= @invoice.id %><dd>
   <dt>Forma de pagamento</dt>
   <dd>paypal<dd>
   <dt>Vitrine</dt>
   <dd><%= current_vitrine.name %></dd>

   </dl>


  


 <div class="content">



      <table>


        <tr>

          <th>Descrição</th>
          <th></th>
        
        </tr>

              <tbody>
          <tr>
            <td>
Item:
  <% unless @product.images.blank? %>

                    <%= image_tag @product.images.first.ifoto.url(:small).to_s %>
                  <%end %>




            </td>


            <td>
                        Nome:     
                <%= @product.name %>
                          </td>
          </tr>

          <tr>

            <td>
              Quantidade:
                <%= @order.quantity %>

            </td>
            <td>
              Preço:
              <%= number_to_currency(@product.price) %>

            </td>
          </tr>

          <tr>
            <td>
               Comissão:

            </td>
            <td>
              <%= number_to_currency @invoice.store_fee %>            </td>

          </tr>

          <tr>
            <td>
              Baixar:
            </td>
            <td>
<%= link_to 'Download', vitrine_invoice_path(current_vitrine, @invoice.id, format: 'pdf') %>
            </td>

          </tr>
        </tbody>
      </table>
         </div>

    </div>
  </div>
</div>


