
<% title "Fatura" %>
<%= render "shared/vitrine_menu" %>
<div class="box3">
  <div class="block  margin_top">
    <%= render 'shared/flash_messages' %>

    <div class="content">


      <h1>Comprovante de pagamento</h1>




      <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
                  <tr>
              <td colspan="2">
                <%= image_tag('logo.png')  %>
              </td>

              <td valign="top">

                <p >Avenida Roberto Silveira nº 95A</p>
                <b> Chácara da Saudade, Paraty/RJ</b>


              </td>


            </tr>


            <tr class="cell">
              <td>Data: <b><%= @invoice.created_at.strftime('%d/%m/%Y') %></b></td>
              <td>Fatura: <b><%= @invoice.id %></b></td>

            </tr>
            <tr>
              <td class="divider" colspan="2" bgcolor="#ddd" height="1"></td>
            </tr>



            <tr class="cell">
            


              <td>
                
                Item:
                <% unless @product.images.blank? %>

                <%= image_tag @product.images.first.ifoto.url(:small).to_s %>
              <%end %>
                <%= @product.name %>
                </td>

            
                           
                <td>Quantidade:  <b><%= @order.quantity %></b></td>

              <td>Preço:   <b><%= number_to_currency(@product.price) %></b></td>

              <td>Vitrine:  <b><%= current_vitrine.name %></b></td>

              <td>Forma de pagamento:  <b>paypal</b></td>
              <td>
                Comissão:

               <b><%= number_to_currency @invoice.store_fee %>  </b>
          </td>
          <td>
            <%= link_to 'Download', vitrine_invoice_path(current_vitrine, @invoice.id, format: 'pdf') %>
          </td>

            </tr>


      </table>



    </div>

  </div>
</div>
































