




<% title "Fatura" %>
<%= render "shared/vitrine_menu" %>
<div class="box3">
  <div class="block  margin_top">
    <h1>Fatura #<%= @invoice.id %></h1>

    <%= render 'shared/flash_messages' %>

    <div class="content">
      <table>


        <tr>
          <td >
            <%= image_tag('logo.png')  %>
          </td>

          <td>
            Avenida Roberto Silveira nº 95A, Chácara da Saudade, Paraty/RJ
          </td>
          <td>
            <b>Vitrine</b>

            <td>
              <b>Forma de Pagamento</b>

              <td>
        </tr>




        <tr>
          <th>
            <b>Usuário</b>
          </th>

          <th>
            <b>Produto</b>
          </th>
          <th>
            <b>Preço</b>
          </th>
          <th>
            <b>Qtd</b>
          </th>
          <th>
            <b>Comissão</b>
          </th>
          <th>
            <b>Data</b>
          </th>
          <th>
            <b>Download</b>
          </th>
        </tr>

        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td><%= current_vitrine.name %></td>

            <td>Paypal</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>
              <ul>
                <li><%= @buyer.full_name %></li>
                <li><%= @buyer.user_address if  @buyer.address %></li>
                <li><%= @buyer.user_neighborhood if  @buyer.neighborhood %></li>
                <li><%= @buyer.user_city if  @buyer.city %>
              </li>
              <li><%= @buyer.user_postal_code  if  @buyer.postal_code %></li>
              <li><%= @buyer.user_address_supplement if   @buyer.address_supplement %></li>
              </ul>
            </td>
            <td>
              <ul>
                <li>
                  <% unless @product.images.blank? %>

                    <%= image_tag @product.images.first.ifoto.url(:small).to_s %>
                  <%end %></li>

                <li><%= @product.name %></li>
              </ul>
            </td>
            <td>

              <%= number_to_currency(@product.price) %>

            </td>
            <td>
              <%= @order.quantity %>

            </td>
            <td><%= number_to_currency @invoice.store_fee %></td>
            <td><%= @invoice.created_at.strftime('%d/%m/%Y') %></td>
            <td><%= link_to 'Download', vitrine_invoice_path(current_vitrine, @invoice.id, format: 'pdf') %>

          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


