
<% conversation.participants(:not => current_user).each do |user| %>
  
  <td class="block_avatar">
      <%= link_to conversation_path(conversation.id), :class => "message_link" do %>
          <%= image_tag user.avatar.url(:mobile).to_s %>
      <% end %>
    </td>
    <td class="message_body">
      <%= link_to conversation_path(conversation.id), :class => "message_link" do %>
        
          <%= user.first_name %> <%= user.last_name %>
        <% end %>
          <%unless conversation.display_message? %>

          <p><%= conversation.display_message.body %></p>
      <% end %>
     
      <%= timeago_tag(conversation.created_at, :nojs => true, :date_only => false) %>
    </td>
<% end %>


