<div id="chatdiv">

  <%= render 'shared/flash_messages' %>
  <%= render 'shared/error_messages', :target => @conversation  %>

  <%= form_for @conversation, :html => {:class => "conversation_form"} do |f| %>

  <ul>
    <li>
      <div ><input class="span5" id="conversation_username" name="conversation_participant[name]" placeholder="Para: Nome" type="text"/>

        <%= text_area :message, :body, :class => "span5", :rows => 5, :placeholder => "Mensagem" %>
      </div>
    </li>
  </ul>
  <%= f.button "Enviar", :class => "btn"  %>

  <% end %>
</div>
