<% title "Menssagens Index" %>
<div class="box12">
</div>
<div class="box7">
  <div class="block margin_top">

    <h1>Caixa de Entrada</h1>
    <div class="chatboxhead">

      Ordenar por:
      <%= sort_link @q, :created_at, "Data" %>
    </div>
    <div class="chatboxcontent" id="message_list">

      <%= render partial: 'conversation', :collection => @conversations %>

    </div>

    <%= will_paginate(@conversations ) %>

  </div>

</div>

<div class="box8">
  <div id="response">
    <%= render partial: 'messages/message', :collection => @messages %>
  </div>
</div>

<a id='addChat' href="#">Add Chat</a>
    <div id="chat"></div>


<div class="box10">
  
  
 
 <%=button_to "Nova Mensagem", chatbox_conversations_path,  :class =>"ttooltip btn_grey btn_big",  :method => "get", :data => {:url => "/conversations/chatbox"}   %>
         
 
</div>
