<% title "Menssagens" %>

<div class="box1">

  <div class="flash_box margin_top">
    <%= render 'shared/flash_messages' %>
    <%= render 'shared/error_messages', :target => @conversation  %>

  </div>

  <div class="block margin_top">
<div class="content">

    <div class="chatboxhead">
    <h3>Conversa</h3>
   <% if @participant.user.online? == true %>
      <span class="status_online"> Online </span>
      <% else %>
        <span class="status_offline"> Offline </span>
        <% end %>

    </div>



    <div class="chatboxcontent" id="conversation_<%= @conversation.id %>">
      <%= render partial: 'messages/message', collection: @messages  %>
    </div>

    <div class="chatboxinput">
      <%= semantic_form_for  [@conversation,  @new_message] do |f| %>

      <%= f.inputs do %>
      <%= f.input :body, :as => :text, class: 'form-control',data: { emojiable: true },:placeholder => false, :label => false %>
      <%= f.actions do %>
      <%= f.action :submit, :label => "Enviar", :button_html => { :class => "btn"} %>
      <% end %>
      <% end %>
      <% end %>

    </div>
  </div>
</div>
</div>
