<% title "Menssagens" %>

<div class="box1">

  <div class="flash_box margin_top">
    <%= render 'shared/flash_messages' %>
    <%= render 'shared/error_messages', :target => @conversation  %>

  </div>
</div>







<div class="box5">

  <div class="block margin_top">



    <div class="row chat-window col-xs-5 col-md-3">
  <div class="panel panel-default">


    <div  class="chatboxhead"><span>Conversa</span></div>
  <div id="message_box" class="content">
    


    <table class="chatboxcontent panel-body msg_container_base" id="conversation_<%= @conversation.id %>">
        
      <tbody>
      <%= render partial: 'messages/message', collection: @messages  %>
      </tbody>
    </table>

  </div>
<div class="chatboxinput">
  <%= semantic_form_for  [@conversation,  @new_message] do |f| %>

  <%= f.inputs do %>
  <%= f.input :body, :as => :text, class: 'form-control',data: { emojiable: true },:placeholder => false, :label => false %>
  <%= f.actions do %>
  <%= f.action :submit, :label => "Enviar", :button_html => { :class => "btn"} %>
  <% end %>
  <% end %>
  <% end %>

</div>









    </div>



    </div>
























</div>
</div>

</div>

