<h2>New Vitrine</h2>

<%= simple_form_for(@vitrine, :url => [:admin, @vitrine], :html => {:class => 'tabular'}) do |form| %>
  <%= form.error_messages %>

  <%= render :partial => form %>

    <%= form.submit t('helpers.submit.create') %>
    <%= link_to t('helpers.links.back'), admin_vitrines_path %>
<% end %>
