<h2>New Order</h2>

<%= simple_form_for(@order, :url => [:admin, @order], :html => {:class => 'tabular'}) do |form| %>
  <%= form.error_messages %>

  <%= render :partial => form %>

    <%= form.submit t('helpers.submit.create') %>
    <%= link_to t('helpers.links.back'), admin_orders_path %>
<% end %>
