<% title  "Configurar Conta" %>
<%= render "shared/user_menu" %>
<div class="box5">
<div class="margin_top">
  <%= render 'shared/flash_messages' %>
  <%= render 'shared/error_messages', :target => @user %>

</div>
</div>
<div class="box5">
  <div class="block margin_top">
    <h1>Configuração
    </h1>
    <div class="content">
  <div class="subcontent_top">
      <h4>Avatar</h4>

        <%= form_for @user,  :url => user_path, :method => :put, :html => {:multipart => true} do |avatar| %>

        <ul>
          <li>
            <%= image_tag @user.avatar.url(:thumb).to_s %>
          </li>
        </ul>

        <ul class="upload_button">
          <li>
            <div id="upload-avatar-container"></li>
            <li class="tip">JPG, GIF ou PNG, tamanho máximo: 2MB</li>

          </div>
        </ul>
        <%= avatar.button "Salvar", :class => "btn" %>
        <% end %>
</div>




      <div class="subcontent">
  <h4>Email</h4>



        <p class="tip">Seu email atual</p>

        <%= semantic_form_for @user do |em| %>
        <%= em.inputs do %>
        <%= em.input :email, :as => :email, :label =>  "Email" %>
        <%= em.input :email_confirmation,  :as => :email, :label => "Confirmar Email" %>
        <%= em.actions do %>
        <%= em.action :submit, :label => "Salvar", :button_html => { :class => "btn"} %>
        <% end %>
        <% end %>
        <% end %>

      </div>




    <div class="subcontent">
  <h4>Endereço</h4>



      <p class="tip">Adicione o seu endereço de entrega para facilitar a vida do vendedor</p>

        <%= semantic_form_for @user do |form| %>
        <%= form.inputs do %>
        <%= form.input :address,  :label => "Endereço" %>
        <%= form.input :neighborhood,  :label =>  "Bairro"%>
        <%= form.input :postal_code,  :label =>  "CEP"%>
        <%= form.input :address_supplement, :as=> :text,  :label => "Complemento" %>
        <%= form.input :state_id, :as => :select, :collection=> @states.collect{|s|[s.name.titleize,s.id]}, :selected => @states.find(1),
      :input_html => { :id => "states_select"}, :prompt => 'Selecionar Estado'  %>
        <%= form.input :city_id, :label => "Cidade", :as => :select,:collection=>@cities.collect{ |c| [c.name.titleize,c.id]},
    :input_html => { :id => "cities_select"}, :prompt => 'Selecionar Cidade'  %>

        <%= form.actions do %>
        <%= form.action :submit, :label => "Salvar", :button_html => { :class => "btn"} %>
        <% end %>
        <% end %>
        <% end %>

      </div>

<div class="subcontent">

  <h4>Encerrar Conta</h4>



        <p>
          <b>O que acontece quando você fechar sua conta?</b>
        </p>
        <br>

        <p>Seu perfil de compras, não serão exibidos na vitrineonline. As pessoas que tentarem ver o seu perfil , ou uma das avaliações da de seu perfil vai ver uma mensagem que a página não está disponível.
        </p>
        <br>

        <%= button_to 'Encerrar',  current_user, :data => { :confirm => 'Confirmar?' }, method: :delete, :class => 'btn_red' %>
      </div>

  </div>
  </div>

  <div class="box11">

    <div class="tip_box">
      <h4>Endereço</h4>
      <h4><%= current_user.name %><% current_user.surname%></h4>

      <ul>
        <li>
          <%=  current_user.address %>
        </li>

        <li>
          <%= current_user.neighborhood %>
        </li>
        <li>
          <%= current_user.postal_code %>
        <li>
        <li><%= current_user.address_supplement %>
        </li>
        <% unless current_user.city.blank? %>

        <li><%=  current_user.city.name %>
        </li>
        <% end %>
        <% unless current_user.state.blank? %>

        <li><%= current_user.state.name %>
        </li>
        <% end %>

      </ul>

    </div>

  </div>
