<% title  "Criar Conta"  %>

<!--MARKETING  -->

<div class="box8">
  <div class="margin_top" id="marketing">
    <h1>A Vitrineonline ajudará você a:</h1>
    <ul>
      <li><%=content_tag(:span, nil, :class =>"sprite-icons-criar-check")%>Montar sua vitrine e poste seus produtos sem custo</li>
    </ul>
    <ul>
      <li><%=content_tag(:span, nil, :class =>"sprite-icons-criar-check")%>Estilizar e administrar sua vitrine com facilidade</li>
    </ul>
    <ul>
      <li><%=content_tag(:span, nil, :class =>"sprite-icons-criar-check")%>Ter exposição 24hrs por dia além da capacidade de criar e fortalecer sua marca</li>
    </ul>
  </div>
</div>

<!--USER CREATE  -->
<div class="box8">

  <%= render 'shared/error_messages', :target => @user %>

  <div class="block margin_top">
        
    <div class="subcontent">
       <div class="grey_box"> 

<h2>Inscreva-se na Vitrineonline
</h2>

 <%=link_to 'Já tem uma conta?', login_path %>

      <%= semantic_form_for(@user, :validate => true) do |f| %>
      <%= f.inputs do %>
      <%= f.input :first_name,  :label => "Nome",:required=>true %>
      <%= f.input :last_name, :label => "Sobrenome", :required=>true %>

      <%= f.input :email, :as => :email, :label => "Email",:required=>true %>
       <%= f.input :phone, :as => :phone, :label => "Celular",:required=>true %>
      <%= f.input :password, :as => :password, :label =>  "Password", :required=>true %>

      <%= f.input :password_confirmation, :as => :password, :label => "Confirmar Password", :required=>true   %>

      <%= f.input :gender, :as => :radio, :label => false,
        :collection => [["Masculino", "M"], ["Feminino", "F"], ["Prefiro não dizer", "I"]], :required=>true %>

      <div class="acordo">
        <p>Clicando em criar conta você estará aceitando nossos
          <%= link_to 'Termos e Condições', page_path('termos') %>, nossa
          <%= link_to 'Políticas de Privacidade', page_path('privacidade')%>
          e declarando que tem ao menos 18 anos de idade.</p>
      </div>

      <%= f.actions do %>
      <%= f.action :submit, :label => "Criar Conta", :button_html => { :class => "btn_green btn_big margin_bottom"} %>
      <% end %>
      <% end %>
    <% end %>
               </div>
      </div>

  </div>
     
</div>

