<% title @user.name %>
<div class="box1">

  <%=render 'shared/flash_messages' %>
</div>



<div class="box1">
  <%= render 'shared/flash_messages' %>
<div id="user_header">
  <div id="user_banner">


  <%= image_tag(@user.banner.url(:thumb).to_s) %>
     </div>

         <div class="user_logo-container">
                <div class="user_logo">

  <%= image_tag(@user.avatar.url(:thumb).to_s) %>

                 </div>
   </div>





  <div class="user_header_share_links">
  <ul>
<li>
<%= social_share_button_tag(truncate(@user.name, :length => 20), :url => url_for(:action => :show, :id => @user.id, :only_path => false))  %>
</li>
    </ul>
</div>









   <div id="user_header_info_links">
     <h2>

     <%=link_to user_path(@user) do %>
     <%=@user.name %>
     <%=@user.surname %>
     <% end %>

   </h2>

<ul>
  <% cache"user_info_box" do %>

     <li>
       <%= content_tag(:span, nil, :class =>"sprite-icons-location") %>
       <% if @user.city%>

       <span>
         <%= @user.city.name %>,</span>
       <% end %>

       <% if @user.state %>
       <b>
         <%= @user.state.code %>
       </b>
       <% end %>

     </li>

<% if @user.vitrine %>
 <%= content_tag(:span, nil, :class =>"sprite-icons-small_vitrine") %>
     <li> <%=link_to @user.vitrine.name, vitrine_path(@user.vitrine) %>
     <%end %>




<% end %>


     <li> <% if @user.online? == true %>
     <span class="status_online"> Online </span>
     <% else %>
       <span class="status_offline"> Offline </span>
       <% end %>
     </li>

     </ul>
 </div>


</div>
</div>




<div class="box3">
  <div class ="block">

    <%= bettertabs :simpletabs do |tab| %>
      <%= tab.link :feedbacks, 'Resumo' do %>
      <%= render 'user_show' %>
      <% end %>
      <%= tab.link :products, "Produtos Curtidos"  do %>
      <%=render 'votes/products' %>
      <% end %>

      <%= tab.link :vitrines,  "Vitrines Curtidas" do %>
      <%=render 'votes/vitrines' %>
      <% end %>
      <%= tab.link :message, 'Mensagem'  do %>
      <%=render 'message_box' %>
      <% end %>
    <% end %>
  </div>


</div>

<div class="box11">
    <% unless @user.city.blank? %>
    <%=image_tag "http://maps.google.com/maps/api/staticmap?size=190x400&sensor=false&zoom=16&markers=#{@user.address}" %>
    <% end %>
</div>




<div class="box1">
  <div class="block">
      <div class="content">
        <div class="subcontent">
    <h2>Veja Também</h2>




  <div class="sugestion_carousel liquid" >
	<span class="previous"></span>
	<div class="wrapper">
     <ul>

            <% @suggestions.each do |item| %>
              <li>
            <%= link_to product_path(item) do  %>
            <%= image_tag item.images.first.ifoto.url(:thumb).to_s %>
            <%= item.name %>
              <%= item.price %>
            <% end %>
            </li>
            <% end %>
  </ul>

 	</div>
	<span class="next"></span>
</div>





</div>



    </div>

  </div>

  </div>

</div>
