<!--Menu Ajuda -->
<div class="box11">
  <div class="margin_top" id="ajuda-menu">

    <h1>
      Ajuda!
    </h1>

    <ul>
      <li><%= link_to 'Qual o sistema de avaliaçnao?', page_path('avaliacao') %></li>
      <li><%= link_to 'Qual é a segurança', page_path('segurança') %></li>
      <li><%= link_to 'Como funciona o desconto', page_path('desconto') %></li>

      <li><%= link_to 'Como  comprar?', page_path('comprar') %></li>
      <li><%= link_to 'Como vender?', page_path('vender') %></li>
      <li><%= link_to 'Como montar minha vitrine?', page_path('boutique') %></li>
      <li><%= link_to 'Quais são os custos?', page_path('custos') %></li>
      <li><%= link_to 'Quais são as formas de pagamento?', page_path('pagamento') %></li>
      <li><%= link_to 'O que posso vender?', page_path('produtos') %></li>
      <li><%= link_to 'Responsabilidades', page_path('responsabilidades') %></li>
      <li ><%= link_to 'Dicas para postar seus itens', page_path('fotografia') %></li>
    </ul>
  </div>
</div>
<!-- Fim-->
