 <!--FILTER  -->
<div class="box3">


 <div id="boutique-busca">

   <h2><b>Buscar</b></h2>

  <%= form_tag boutiques_path, method: :get, :id => "search_box_filter" do %>

     <div class="wrapper">

            <%= search_field_tag :query, params[:query],  :class =>"busca" %><%= button_tag "", :class =>"search_btn_filter", :name => nil %>
         
            </div>

          <% end %>
            </div>





            <h2><b>Filtrar por</b></h2>

  <div class="filtro">
   
    <ul>
      <% @boutiques.facets['kind']['terms'].each do |facet| %>
        <li>
          <%= link_to_unless_current BoutiqueKind.find(facet['term']).kind, params.merge({(controller.controller_name == BoutiqueKindsController.controller_name ? :id: :kind_id) => facet['term']}) %> <%= facet['count'] %>
          <% if params[:kind_id] == facet['term'].to_s %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>






   

  </div>














