 <!--USER MENU  -->
<div class="box3">
  <div id="menu-box">
     <h1 class="h1_menu">Menu</h1>
    <h2><span class="texto">Loja</span></h2>
    <ul>


 <% if current_user.boutique%>

                <li> <%= link_to  boutiques_follows_path do %>
            Seguindo (<%= content_tag(:span, current_boutique.followers_count) %>)
        <% end %>
      </li>


   

                <li> <%= link_to   boutique_followers_follows_path do %>
            Seguindo sua Loja (<%= content_tag(:span, current_boutique.followers_count) %>)
        <% end %>
      </li>


 <%end %>


     </ul>
     <h2><span class="texto">Usuário</span></h2>
     <ul>
       <li>


<%= link_to  users_follows_path do %>
            Seguindo  (<%= content_tag(:span, current_user.follow_count) %>)
        <% end %>


    
    <li>  <%= link_to  user_followers_follows_path do %>
            Seguindo você (<%= content_tag(:span, current_user.followers_count) %>)
        <% end %>
  
  
  </li>
     </ul>

  </div>
</div>


