<div class="left_links">
  <h1>Categorias</h1>
  <ul class="gender">

    <% @genders.each do |gender| %>

    <li>
      <h2 title="<%=gender.gender %>">
        <%= link_to  content_tag(:span, gender.gender),  gender_path(:id => gender.id), :class => "tab" %></h2>
    </li>

    <% gender.categories.each do |category| %>

    <li>

      <h2 title="<%=category.name %>"><%= link_to category.name, category_path(:id => category.id )  %></h2>
    </li>

    <% category.subcategories.each do |subcategory| %>
    <li title="<%=subcategory.name %>"><%= link_to subcategory.name, subcategory_path(:id => subcategory.id ) %></li>

    <% end %>

    <% end %>

    <% end %>
  </ul>
</div>
