<div class="caixa-product">
  <ul class="lista-thumb">
    <li><%= link_to(image_tag(product.f1.url(:thumb).to_s), product_path(products)) %>
    </li>
  </ul>
  <ul class="lista-detalhes">
    <li class="lista-product" title="<%=product.name %>"><%= link_to product.name, product_path(product) %></li>
    <li class="lista-preco">
      <span><%= number_to_currency product.price %></span>
    </li>
    <li class="lista-loja" title="[#%=productsssss.boutique.marketing.slogan %]">
      <%= link_to product.boutique.name, boutique_path(product.boutique.id) %>
    </li>
  </ul>
</div>
