
<div class="block" >
<div class="content" >

<div class="sugestion_carousel liquid" >

      <span class="previous"></span>

      <div class="wrapper">
        <ul>

          <% @suggestions.each do |item| %>
            <li>
              <li>
            <%= link_to product_path(item),  :class=>"product" do  %>
              <%= image_tag item.images.first.ifoto.url(:thumb).to_s, :class=>"productImg" %>
            <span class="productName">

              <%= item.name %>
            </span>

             <span class="price">
              <%=number_to_currency(item.price, :unit=> "R$") %>

             </span>


  <% if item.feedbacks %>
                    <div class="productFeeback">
                      <div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_buyers %>"></div>
                      <%=@total_feedbacks %>
                    </div>
                     <% end %>

                                   <span class="by">Por
                    <%=item.vitrine.name %>
                  </span>
               

            <% end %>
          </li>
        <% end %>

        </ul>


      </div>
      <span class="next"></span>
    </div>
 </div>
 </div>

