<!--USER MENU  -->
<div class="box11">

  <div id="menu-box">
    <div class="menu_content">
  <h2 class="h1_menu">Conta</h2>
    
      <ul>
        <li><%= link_to "Configuração", edit_user_path(current_user) %></li>
        <li><%= link_to "Password", new_user_password_path(current_user) %></li>
      </ul>
      <h2>
        <span class="texto">Produtos</span>
      </h2>
      <ul>
        <li class="<%= 'active' if params[:status].nil? || params[:status] == Order.statuses[0] %>">
          <%= link_to 'Comprados', "#{purchased_orders_path}?status=#{Order.statuses[0]}" %>
        </li>
        <li class="<%= 'active' if params[:status].nil? || params[:status] == Order.statuses[1] %>">
          <%= link_to 'Marcado como Enviado pelo Vendedor', "#{purchased_orders_path}?status=#{Order.statuses[1]}" %>
        </li>
      </ul>
    </div>
  </div>
</div>
