<% cache "user_menu" do %><!--USER MENU  -->
<div class="box11">

  <div id="menu-box">
    <div class="menu_content">
    <h2 class="h1_menu">Conta</h2>

      <ul>
        <li><%= link_to "Configuração", edit_user_path(current_user) %></li>
        <li><%= link_to "Password", new_user_password_path(current_user) %></li>

        <li> <%= link_to "Banner",   user_banner_path(current_user) %></li>
      </ul>
  <h2 class="h1_menu">Curtidas</h2>


  <ul>
    <li><%=link_to "Produtos",  products_votes_path %></li>
<li><%=link_to "Vitrines", vitrines_votes_path  %></li>
</li>
    </div>
  </div>
</div>
<% end %>
