<!--VITRINE MENU  -->
<div class="box11">

  <div id="menu-box">
    <div class="menu_content">
      <h1 class="h1_menu">Menu</h1>
      <h2>
        <span class="texto">Vitrine</span>
      </h2>
      <ul>
        <li><%= link_to "Configuração", edit_vitrine_path(current_vitrine) %></li>
        <li><%= link_to "Política" , edit_vitrine_policy_path(current_vitrine, current_vitrine.policy.id)%></li>
      </ul>
      <h2>
        <span class="texto">Produtos</span>
      </h2>
      <ul>
        <li><%= link_to "Adicionados", vitrine_stocks_path(current_vitrine.id) %></li>
        <li class="<%= 'active' if params[:status].nil? || params[:status] == Order.statuses[0] %>">
          <%= link_to 'Vendidos', "#{sold_orders_path}?status=#{Order.statuses[0]}" %>
        </li>
        <li class="<%= 'active' if params[:status].nil? || params[:status] == Order.statuses[1] %>">
          <%= link_to 'Enviados', "#{sold_orders_path}?status=#{Order.statuses[1]}" %>
        </li>
      </ul>
      <h2>
        <span class="texto">Marketing</span>
      </h2>
      <ul>
        <li><%= link_to "Anúncio", new_vitrine_announcement_path(current_vitrine)  %></li>
        <li><%= link_to "Visualizações", vitrine_views_path(current_vitrine)  %></li>
        <li><%= link_to "Slogan & Site", edit_vitrine_marketing_path(current_vitrine, current_vitrine.marketing.id)  %></li>
      </ul>
      <h2>
        <span class="texto">Contabilidade</span>
      </h2>
      <ul >
        <li><%= link_to "Fatura", vitrine_invoices_path(current_vitrine)  %></li>
        <li><%= link_to 'Relatório de Vendas', sales_report_vitrine_path(current_vitrine) %></li>
      </ul>
      <%= link_to  vitrine_path(current_vitrine), :id => "shop_button", :class => 'btn' do %>
      <%= content_tag(:i,nil, :class=>"go_boutique_icon")  %>
      Vitrine
      <% end %>
    </div>
  </div>
</div>
