

<div class="box1">
  <div class="block">
    <div class="content">
      <div class="flash_box">
        <%= render 'shared/flash_messages' %>

      </div>
<% cache "front_banner" do %>

      <%= image_tag('front_banner.png')  %>
    <% end %>

    </div>

  </div>

</div>


<div class="box3">
  <div class="block">



    <div class="content">
      <h2>Produtos Postados Recentemente</h2>




<% cache "products_home" do %>


<div id="searchResults">
      <table id="posts" class="product_table">
        <tbody class="page">
          <tr>
            <% @products.last(22).each do |product|%>

              <td>
                <%=link_to product_path(product.id), :class=>"product" do %>
                  <%if product.images.present? %>
                    <%=image_tag product.images.first.ifoto.url(:thumb).to_s, :class=>"productImg" %>
                  <% end %>
                  <span class="productName">
                    <%=product.name %></span>
                  <span class="price"><%=number_to_currency(product.price, :unit=> "R$") %></span>




           
                    <div class="productFeeback">
                      <div class="feedback_stars_rating" data-read-only="true" data-score="<%= product.rate_from_buyers %>"></div>

                      <%=product.feedback_counter %>
                    </div>
                
                  <span class="by">Por
                    <%=product.vitrine.name %></span>
                <% end %>
              </td>
            <% end %>
          </tr>



        </tbody>
      </table>
    </div>

  <% end %>

      


    </div>



    <div class="subcontent">
      <h2>Vitrines Criadas Recentemente</h2>



      <div class="vitrine_carousel liquid" >
        <span class="previous"></span>
        <div class="wrapper">
          <% unless Vitrine.nil? %>
            <ul>
              <% @vitrines.last(10).each do |v| %>

                <li>
                  <%=link_to vitrine_path(v.id) do %>


                    <%= image_tag v.logo.url(:thumb).to_s %>
                    <%= v.name   %>
                  <% end %>
                </li>
              <% end %>

            </ul>
          <% end %>
        </div>
        <span class="next"></span>
      </div>

    </div>







    <div class="subcontent">
      <h2>Produtos em Destaque</h2>





      <%= render :partial => 'shared/suggestion'%>



    </div>

  </div>

</div>







<div class="box11">
  <div class="content">
    <h2>Seções
    </h2>
    <div class="tags">

      <ul class="link_tag">
        <% tag_cloud Product.tag_counts, %w[s m l] do |tag, css_class| %>
          <li >

            <%= raw link_to tag.name, tag_path(:tag => tag.name), class: css_class %>
          </li>


        <% end %>
      </ul>
      ... </div>

  </div>
</div>
