<div class="box5">
  <div class="block margin_top">
    <%= render 'shared/flash_messages' %>
    <h4>Produtos em destaque</h4>
    <div class="content">
      <div class="searchResults">
        <%= render :partial => 'product', :collection => @products  %>
      </div>
    </div>
  </div>
  <div class="block">
    <h4>Vitrines em destaque</h4>
    <div class="content">
      <div class="searchResults">
        <ul>
          <%= render :partial => 'vitrine', :collection => @vitrines  %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="box9 margin_top">
  <div class="block margin_top">
    <h4>Produtos mais populares</h4>
    <div class="content">
      <% Product.order(:cached_votes_up).each do |product| %>
      <%= link_to(image_tag(product.f1.url(:table).to_s), product_url(product.id)) %>
      <% end %>
    </div>
  </div>
  <div class="block margin_top">
    <h4>Vitrines mais populares</h4>
    <div class="content">
      <% Vitrine.order(:cached_votes_up).each do |vitrine| %>
      <%= link_to(image_tag(vitrine.logo.url(:thumb).to_s), vitrine_url(vitrine.id)) %>
      <% end %>
    </div>
  </div>
</div>
