

<div class="box1">
  <div class="block">
      <div class="content">
    <div class="flash_box">
      <%= render 'shared/flash_messages' %>

    </div>



      <div class="subcontent_top">
    <!-- Slideshow 1 -->
    <ul class="box-slider">
      <li>
        <%= image_tag('slider1.jpg')  %>
      </li>
      <li><%= image_tag('slider4.jpg')  %></li>
      <li><%= image_tag('slider3.jpg')  %></li>
    </ul>

</div>


  <div class="subcontent_top">

    <h2>Produtos Mais Vendidos</h2>
    <% if @orderables %>
    <ul class="content-slider">
         <% orderable.limit(10).each do |p| %>
        <li>
      <%= link_to product_path(p) do  %>


      <%= image_tag p.foto_thumb.to_s %>
    >
      <%= p.name %>
      <% end %>.
    </li>
    </ul>
<% end %>.
<% end %>.


</div>




  <div class="subcontent">
  <h2>Produtos Mais Avaliadas</h2>
  <% unless Product.nil? %>

    <ul class="content-slider">

      <% @feedbacks.includes(:products).limit(10).each do |v| %>


      <li> <%= image_tag v.images.first.url(:thumb).to_s %></li>
      <li><%= v.name   %></li>
  <% end %>
</ul>
  <% end %>


</div>





  <div class="subcontent">
  <h2>Vitrines Mais Avaliadas</h2>
  <% unless Vitrine.nil? %>

    <ul class="content-slider">

      <% @feedbacks.includes(:vitrines).limit(10).each do |v| %>


      <li> <%= image_tag v.logo.url(:thumb).to_s %></li>
      <li><%= v.name   %></li>
  <% end %>
</ul>
  <% end %>


</div>


  <div class="subcontent">
  <h2>Produtos Adicionados Recentemente</h2>

<% if @products %>
<ul class="content-slider">
<% @products.first(10).each do |p| %>
<li>
<%= link_to product_path(p) do  %>

<%= image_tag p.foto_thumb.to_s %>

<%= p.name %>
<%= p.price %>
<% end %>
</li>
<% end %>
</ul>

<% end %>

</div>



  <div class="subcontent">
    <h2>Produtos em Destaque</h2>


      <ul class="content-slider">

            <% @suggestions.each do |item| %>
              <li>
            <%= link_to product_path(item) do  %>
            <%= image_tag item.foto_thumb.to_s %>
            <%= item.name %>
              <%= item.price %>
            <% end %>
            </li>
            <% end %>
  </ul>




  </div>


</div>
</div>
</div>
