

<div class="box1">
  <div class="margin_top">
    <div class="flash_box">
      <%= render 'shared/flash_messages' %>

    </div>

    <!-- Slideshow 1 -->
    <ul class="box-slider">
      <li>
        <%= image_tag('slider1.jpg')  %>
      </li>
      <li><%= image_tag('slider4.jpg')  %></li>
      <li><%= image_tag('slider3.jpg')  %></li>
    </ul>


  </div>
</div>



<div class="box1">
  <h2>Produtos Mais Vendidos</h2>

  <div class="block">

    <ul class="content-slider">
        <% Product.order(@average_rating_from_buyers).each do |product| %>
        <li>
      <%= link_to product_path(product) do  %>
      <%= image_tag product.f1.url(:thumb).to_s %>
      <%= product.name %>
</li>
      <% end %>.
    </ul>
<% end %>.
  </div>

</div>



<div class="box1">
  <h2>Vitrines Mais Avaliadas</h2>

  <div class="block">
    <ul class="content-slider">
      <% Vitrine.order(@average_rating_from_buyers).each do |vitrine| %>
<li>
    <%=   link_to vitrine_path(vitrine) do %>

  <%= image_tag vitrine.logo.url(:thumb).to_s %>

      <%= vitrine.name %>

</li>
      <% end %>
    </ul>
      <% end %>
  </div>

</div>


<div class="box1">
<div class="block">
  <h2>Produtos Adicionados Recentemente</h2>

  <div id="searchResults">

    <%= render :partial => 'product', :collection => @products  %>
  </div>
</div>
</div>
