

<div class="box1">
  <div class="block">
      <div class="content">
    <div class="flash_box">
      <%= render 'shared/flash_messages' %>

    </div>


            <%= image_tag('front_banner.png')  %>


</div>

</div>

</div>


<div class="box3">
  <div class="block">
  


<div class="content">
<h2>Produtos Postados Recentemente</h2>


<div id="searchResults">
<table class="product_table">
<tbody>

<% @products.each_slice(5)do |row| %>

<tr>
<%  row.each do |product| %>
<td>
<%=link_to product_path(product.id), :class=>"product" do %>
<%if product.images.present? %>
<%=image_tag product.images.first.ifoto.url(:thumb).to_s, :class=>"productImg" %>
<% end %>
<span  class="productName"><%=product.name %></span>
<span class="price"><%=number_to_currency(product.price, :unit=> "R$") %></span>
<% if product.feedbacks %>
<div class="productFeeback">
<div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_buyers %>"></div>
<%=@total_feedbacks %>
</div>
<% end %>
<span class="by">Por
<%=product.vitrine.name %></span>
<% end %>
</td>
<% end %>
</tr>
<% end %>

</tbody>
</table>
</div>

</div>



  <div class="subcontent">
  <h2>Vitrines Criadas Recentemente</h2>



<div class="vitrine_carousel liquid" >
	<span class="previous"></span>
	<div class="wrapper">
    <% unless Vitrine.nil? %>
  							<ul>
                    <% @vitrines.last(10).each do |v| %>

                          <li> <%= image_tag v.logo.url(:thumb).to_s %>
                          <%= v.name   %></li>
                      <% end %>
                    </ul>
                      <% end %>
	</div>
	<span class="next"></span>
</div>

</div>







  <div class="subcontent">
    <h2>Produtos em Destaque</h2>




<div class="sugestion_carousel liquid" >
	<span class="previous"></span>
	<div class="wrapper">

      <ul>

            <% @suggestions.each do |item| %>
              <li>
            <%= link_to product_path(item) do  %>
            <%= image_tag item.images.first.ifoto.url(:thumb).to_s %>
            <%= item.name %>
              <%= item.price %>
            <% end %>
            </li>
            <% end %>
      </ul>
        </div>
	<span class="next"></span>
</div>

</div>

</div>

</div>







<div class="box11">
<div class="content">
  <h2>Estilos
    </h2>
  <span class="tags">

   <ul class="link_tag">
   <% tag_cloud Product.tag_counts, %w[s m l] do |tag, css_class| %>
       <li >

         <%= raw link_to tag.name, tag_path(:tag => tag.name), class: css_class %>
          </li>


  <% end %>
</ul>
...
  </div>
    </div>
