<% title "Confirmação" %>

         

<% if @current_user.transactions.empty? || ( @current_user.transactions.last.created_at)  %> 

<div class="box5">
   <div class="block  margin_top">

     <h1>Obrigado pela sua compra </h1>
    
     <ul>
       <li> Data da compra:   <b><%= @current_user.transactions.last.created_at.strftime('%d/%m/%Y') %></b></li>
       <li> Número da compra:     <b><%=@current_user.transactions.last.transaction_id %></b></li>
     </ul>
  
       <p>Um email de confirmação foi enviado para <b><%=@current_user.email %></b> quando o vendedor marcar como enviado outro email com o número de rastreio 
       será enviado para seu email</p>

       <ul>
         <li>

           <%= link_to 'Ir para pedidos', "#{purchased_orders_path}?status=#{Order.statuses[0]}" %>
         </li>
         <li>

           <%= link_to 'Voltar para o carrinho', carts_path %>
         </li>
         </ul>


  </div>
 </div>

<% end %>

