<% title  "Criar Contestação"  %>

<!--MARKETING  -->



<!--USER CREATE  -->
<div class="box8">

  <%= render 'shared/error_messages', :target => @dispute %>

  <div class="block margin_top">
        
    <div class="subcontent">
       <div class="grey_box"> 

<h2>Contestar Pedido 
</h2>


      <%= semantic_form_for(@dispute, :validate => true) do |f| %>
      <%= f.inputs do %>

          <h2>Eu quero</h2>
 
<%= f.input :solution, :as => :radio, :label  =>false,
          :collection => [["Retorno do dinheiro", "RM"], ["Reenvio", "RS"], ["Trocar Produto", "CP"],
      
      ["Cancelar Pedido", "CO"]
      ], :required=>true %>



          <h2>Você já recebeu o item?</h2>

      <%= f.input :item_received, :as => :boolean, :label =>"sim", :required=>true   %>

      <h2>Qual o movito?</h2>

      <%= f.input :motive, :as => :radio, :label   =>false,
          :collection => [["Ainda não recebi", "NR"], ["Recebi um item que não corresponde à descrição do vendedor", "ND"], ["Item Danificado", "DP"],
      
      ["Concorcamos em cancelar a transação", "CT"]
      ], :required=>true %>

  <h2>Quantia a ser retornada</h2>

  <%= f.input :amount, :as => :number, :label => "Quantia" %>
               <h2>Descreva e detalhe sua contextação</h2>


  <%= f.input :buyer_comment, :as => :text, :label =>  "Detalhe o que aconteceu", :required=>true %>



<h2>Adicione foto ou video do item</h2>






      <%= f.actions do %>
      <%= f.action :submit, :label => "Criar Contestação", :button_html => { :class => "btn_green btn_big margin_bottom"} %>
      <% end %>
      <% end %>
    <% end %>
               </div>
      </div>

  </div>
     
</div>


