<% if params[:status].nil? || params[:status] == Order.statuses[0] %>
<% title "Itens Comprados" %>
<% end %>

<% if params[:status].nil? || params[:status] == Order.statuses[1] %>
<% title "Itens Enviados" %>
<% end %>

<%= render "shared/user_menu" %>

<div class="box4">

  <div class="block margin_top">
    <%= render 'shared/flash_messages' %>

    <%= "<h1>Produtos Comprados </h1>".html_safe if  params[:status].nil? || params[:status] == Order.statuses[0]  %>

    <%= "<h1>Produtos Enviados </h1>".html_safe if  params[:status].nil? || params[:status] == Order.statuses[1]  %>
  </div>

  <div class="block">

    <div class="content">

      <% if  params[:status].nil? || params[:status] == Order.statuses[0]  %>

      <table class="block_search">
        <tr>

          <td class="sort">

            Ordenar por
            <%= sort_link [@q], :created_at, "Data" %>
          </td>
        </tr>
      </table>

      <% end %>

      <%if  params[:status].nil? || params[:status] == Order.statuses[1]  %>

      <table class="block_search">
        <tr>

          <td class="sort">

            Ordenar por
            <%= sort_link @q, :created_at, "Data" %>
          </td>
        </tr>
      </table>

      <% end %>

      <%= render  partial: 'orders/order', collection: @orders %>

    </div>
    <% if current_user.cart %>

    <div class="block_pagination">
      <div class="digg_pagination">
        <%= will_paginate @orders, previous_label: h('« Voltar'), next_label: h('Próximo »') %>

      </div>

    </div>
    <% end %>

  </div>

</div>
