<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">
    <h1>Ajuda -- Qual o sistema de avaliação?</h1> 
    <hr class="line"></hr>



    <div class="content">
      <p>O sistema de avaliação das compras e vendas na vitrineonline é baseada em estrelas</p>
      <ol>
        <li>
          <%= content_tag(:span, nil, :class =>"sprite-icons-1star") %>

       = péssimo
        </li>
        <li>
           <%= content_tag(:span, nil, :class =>"sprite-icons-2star") %>

         = ruim
        </li>
        <li>
           <%= content_tag(:span, nil, :class =>"sprite-icons-3star") %>

        = regular
        </li>
        <li>
           <%= content_tag(:span, nil, :class =>"sprite-icons-4star") %>

        = bom
        </li>
        <li>
           <%= content_tag(:span, nil, :class =>"sprite-icons-5star") %>

         = excelente
        </li>

      </ol>
    </div>

  </div>
</div>
