<%= render "shared/ajuda_menu" %>

<div class="box3">
  <div class="block_fotografia margin_top">
    <h4>Dicas para postar seus itens</h4>
    <div class="content">

      <table >

        <tbody>
          <tr>
            <td>
              <h1 class="h1do">Faça</h1>
              <%= image_tag('do1.jpg', :alt =>'do1')  %>
              <p>Procure usar a luz do dia suas fotografias</p>
            </td>
            <td>
              <h1 class="h1notdo">Não Faça</h1>
              <%= image_tag('notdo3.jpg', :alt =>'notdo3')  %>
              <p>Tirar fotos em lugares escuros ou com baixa luminosidade</p>
            </td>
          </tr>
          <tr>
            <td>
              <h1 class="h1do">Faça</h1>
              <%= image_tag('do4.jpg', :alt =>'do4')  %>
              <p>No caso de acessórios, tire a fotografia de perto</p>
            </td>
            <td>
              <h1 class="h1notdo">Não Faça</h1>
              <%= image_tag('notdo2.jpg', :alt =>'notdo2')  %>

              <p>Não exponha seu produto em uma mesa ou qualquer superfície</p>
            </td>
          </tr>
          <tr>
            <td>
              <h1 class="h1do">Faça</h1>
              <%= image_tag('do5.jpg', :alt =>'do5')  %>

              <p>Mantenha a fotografia clara e o produto centralizado</p>
            </td>
            <td>
              <h1 class="h1notdo">Não Faça</h1>
              <%= image_tag('notdo1.jpg', :alt =>'notdo1')  %>

              <p>Não use imagens borradas ou desfocadas</p>
            </td>

          </tr>
          <tr>
            <td>
              <h1 class="h1do">Faça</h1>
              <%= image_tag('do7.jpg', :alt =>'do7')  %>

              <p>Sempre apresente ou utilize um modelo para apresentar seus produtos</p>
            </td>
            <td>
              <h1 class="h1notdo">Não Faça</h1>
              <%= image_tag('notdo5.jpg', :alt =>'notdo5')  %>

              <p>Não use manequins ou pendure seus produtos em alguma superfície</p>
            </td>

          </tr>
          <tr>
            <td>
              <h1 class="h1do">Faça</h1>
              <%= image_tag('do9.jpg', :alt =>'do9')  %>

              <p>Escolher um fundo natural ajuda os seus produtos se destacarem</p>
            </td>
            <td>
              <h1 class="h1notdo">Não Faça</h1>
              <%= image_tag('notdo9.jpg', :alt =>'notdo9')  %>

              <p>Não use um fundo confuso (como um quarto bagunçado).</p>
            </td>

          </tr>

          <tr>
            <td>
              <h1 class="h1do">Faça</h1>
              <%= image_tag('do10.jpg', :alt =>'do10')  %>

              <p>Tire suas fotos de frente</p>
            </td>
            <td>
              <h1 class="h1notdo">Não Faça</h1>
              <%= image_tag('notdo7.jpg', :alt =>'notdo7')  %>

              <p>Não tire suas fotos em um ângulo</p>
            </td>

          </tr>

          <tr>
            <td>
              <h1 class="h1do">Faça</h1>
              <%= image_tag('do8.jpg', :alt =>'do8')  %>

              <p>Para comprovar a marca tire a fotografia da etiqueta</p>
            </td>
            <td>
              <h1 class="h1notdo">Não Faça</h1>
              <%= image_tag('notdo6.jpg', :alt =>'notdo6')  %>

              <p>Não utilize photoshop em suas fotos</p>
            </td>

          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
