
<div class="content">
  <h1>Avaliações</h1>


  <div class="subcontent_top">
    <li class="lista-time">

      Criada em:
      <%= timeago_tag(@vitrine.created_at, :nojs => true, :date_only => false)%>
    </li>
  </div>



  <table class="block_search">
    <tr>
       <%= render :partial => 'shared/sort_feedback'%>

    </tr>
  </table>

  <div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_buyers %>"></div>

  <%= render :partial => 'feedbacks/feedbacks' %>


<%= render :partial => 'shared/feedback_pagination'%>


</div>


