<table class="zebra_branca">

  <thead>
    <tr class="header">
      <th scope="col">Item</th>
      <th scope="col">Código</th>
      <th scope="col">Preço</th>
      <th scope="col">Paypal</th>
      <th scope="col">Envio</th>
      <th scope="col">Quantidade</th>

      <th scope="col">Postado em</th>
      <th scope="col">Editar</th>
      <th scope="col">Remover</th>

    </tr>
  </thead>

  <tbody>

    <% @products.each do |product|%>

    <tr>
      <td class="stock_td">
        <%= link_to  product_path(product.id) do %>
        <%= image_tag product.f1.url(:table).to_s %>
        <%=  product.name %>
        <% end %>
      </td>

      <td><%= product.id %></td>
      <td class="lista-preco_stock">
        <span>
          <b><%=  number_to_currency(product.price, :unit => "R$") %></b>
        </span>
      </td>
      <td>
        <% if product.vitrine.policy %>

        <%= product.vitrine.policy.paypal%>
        <% end %>

      </td>

      <td>
        <ul>
          <% if product.vitrine.policy %>

          <% product.vitrine.policy.shippings.each do |shipping| %>
          <li><%= shipping.kind %></li>
          <% end %>
          <% end %>
        </ul>
      </td>

      <td>
        <% if product.quantity %>
        <%=product.quantity %>

        <% end %>

      </td>

      <td>
        <%= timeago_tag(product.created_at, :nojs => true, :date_only => false)%>

      </td>
      <td><%= button_to  'Editar', edit_product_path(product), :class => 'btn_grey btn_small', :method => "get"  %></td>
      <td><%= button_to 'Remover',  {:id => product.id, :action => "destroy"},  :class => "btn_red btn_small", :method => :delete  %></td>

    </tr>
    <% end %>

  </tbody>

</table>

<div class="block_pagination">
  <div class="digg_pagination">
    <%= will_paginate @products, previous_label: h('« Voltar'), next_label: h('Próximo »'),:page_gap => "......", :inner_window => 1, :outer_window => 1 %>

  </div>
</div>
