

    <table class="block_search">
      <tr>
         <%= search_form_for @q, url:search_products_vitrines_path, method: :post  do |f| %>

        <td>

         
          <%= f.text_field :name_cont %>
               </td>

            <td>
          <%= f.submit "Buscar", :class=>"btn_grey" %>

                 </td>
        <td class="sort">

          Ordernar por
          <%= sort_link @q, :created_at, "Data" %>
          |
          <%= sort_link @q, :feedback_stars_rating, "Avaliação" %>
        </td>
         <% end %>

      </tr>
    </table>




<div id="searchResults_list">
<table class="product_list">
<tbody>

<% @products.each do |product| %>

<tr>

<td class="image_cell">
<%=link_to product_path(product.id), :class=>"product" do %>
<%if product.images.present? %>
<%=image_tag product.images.first.ifoto.url(:thumb).to_s, :class=>"productImg" %>
<% end %>
<% end %>
</td>


<td  class="info_cell">
  <%=link_to product_path(product.id), :class=>"product" do %>
<span class="productName_list">
<%=product.name %>
</span>


<% if product.feedbacks %>
<div class="productFeeback">
<div class="feedback_stars_rating" data-read-only="true" data-score="<%= product.average_rating %>"></div>
<%=product.total_feedbacks %>
</div>
<% end %>


<span class="greennow">Visualizado por <b><%=product.unique_impression_count %></b> pessoas</span>
 <span  class="rednow">Apenas  <strong><%= product.quantity%></strong>
              Disponível

            </span>


<% end %>

</td>


</td>


<td class="price_cell"  >


  <ul>
    <li>
      <span class="price_me"><%=number_to_currency(product.price, :unit=> "R$") %></span>
</li>


  <li>

          <% if  product.vitrine.policy.installment.present? %>
          
              <span class="greennow">
                
                 <%= content_tag(:span, nil, :class => 'sprite-icons-small_card') %>

                
                <%= product.vitrine.policy.installment %>x de
           <%=  number_to_currency(product.price.to_f / product.vitrine.policy.pinstallment,  :unit => "R$") %>
          
           
           
           
         

          
          sem juros</span>
        
                   
          
        

        <% end %>
    </li>
    <li>

      <div>
<% if product.freeship == true %>
        <span class="greennow">
    <%= content_tag(:span, nil, :class => 'sprite-icons-small_truck') %>
    
    Frete Grátis
        
        </span>

<% end %>

    </li>
    <li>
                <span>
     <%= product.vitrine.invoices.count %>
     vendidos
          </span>
     

    </li>

    <li>
      
<% if product.vitrine.city.present? %>

     <span>
     <%= product.vitrine.city.name %>
               </span>
        <% end %>



<% if product.vitrine.state.present? %>

                <span>
                  <b><%= product.vitrine.state.code %></b>
               </span>
     <% end %>



  </li>


<li>
            <% if product.vitrine.marketing.url%>
              <%=link_to  "#{product.vitrine.marketing.url}", url_with_protocol(product.vitrine.marketing.url), :target => '_blank' %>
            <% end %>

          </li>



         <li>
            <ul class="social_media">
              <li>

          <%if product.vitrine.marketing.facebook%>

            <%=link_to "https://www.facebook.com/#{product.vitrine.marketing.facebook}" do %>
              <%=content_tag(:span, nil, :class=>"sprite-icons-small_facebook") %>
            <% end %>
          <% end %>



        </li>



        <li>
          <%if product.vitrine.marketing.twitter %>

            <%=link_to "https://www.twitter.com/#{product.vitrine.marketing.twitter}" do %>
              <%=content_tag(:span, nil, :class=>"sprite-icons-small_twitter") %>
            <% end %>
          <% end %>



        </li>

  <li>
          <%if product.vitrine.marketing.youtube %>

            <%=link_to "https://www.youtube.com/#{product.vitrine.marketing.youtube}" do %>
              <%=content_tag(:span, nil, :class=>"sprite-icons-small_youtube") %>
            <% end %>
          <% end %>



        </li>




  <li>
          <%if product.vitrine.marketing.instagram %>

            <%=link_to "https://www.instagram.com/#{product.vitrine.marketing.instagram}" do %>
              <%=content_tag(:span, nil, :class=>"sprite-icons-small_instagram") %>
            <% end %>
          <% end %>
  </li>

            </ul>
        </li>






  </ul>

</td>



</tr>

<% end %>

</tbody>
</table>
</div>

<div class="block_pagination">
<div class="digg_pagination">
<%=will_paginate @products,:container=> false, previous_label: h('« Voltar'), next_label: h('Próximo »'),:page_gap => "......", :inner_window => 1, :outer_window => 1 %>


</div>
</div>




