<tr class="post">

<td>
<%=link_to product_path(product.id), :class=>"product" do %>
<%if product.images.present? %>
<%=image_tag product.images.first.ifoto.url(:thumb).to_s, :class=>"productImg" %>
<% end %>
<span class="productName">
<%=product.name %></span>
<span class="price"><%=number_to_currency(product.price, :unit=> "R$") %></span>


<% if product.feedbacks %>
<div class="productFeeback">
<div class="feedback_stars_rating" data-read-only="true" data-score="<%= product.average_rating %>"></div>
<%product.total_feedbacks %>
</div>
<% end %>
<span class="by">Por
<%=product.vitrine.name %></span>
<% end %>
</td>

</tr>


