<% title "Configurar vitrine" %>

<%=render "shared/vitrine_menu" %>




<div class="box6">
<div class="flash_box">
<%=render 'shared/flash_messages' %>
<%=render 'shared/error_messages', :target=> @vitrine %>
</div>


<div class="block margin_top">
<h1>Configuração <%=link_to @vitrine.user.first_name, vitrine_path(current_vitrine) %> </h1>

  <div class="subcontent">





<% unless current_vitrine.user.city.blank? %>
<%=image_tag "http://maps.google.com/maps/api/staticmap?size=550x150&sensor=false&zoom=16&markers=#{ current_vitrine.address}" %>
<% end %>
</div>



 <div class="subcontent">
  <h2>Logo</h2>
<ul class="image_info">
<li>
<%=image_tag current_vitrine.logo.url(:thumb).to_s %>
</li>
<li class="tip">JPG, GIF ou PNG, tamanho máximo: 2MB</li>
<li class="tip">O logo será redimencionanda para 245 x 135 de altura</li>
</ul>
<%=form_for(@vitrine, :url=> vitrine_path(current_vitrine), :method => :put, html: { multipart: true, class: "dropzone", id: "vitrine_logo_dropzone"}) do |logo| %>
<div class="fallback">
<%=logo.file_field :logo %><br>
<%=logo.submit "Salvar" %>
</div>
<% end %>
</div>
<div class="subcontent">
  <h2>Sobre</h2>
<p class="tip">Descreva sua vitrine</p>
<p clas="tip">Para inserir emojis no texto acesse
<%=link_to nil, "http://www.emoji-cheat-sheet.com" %></p>
<div class="wmd-panel">
<div id="wmd-button-bar"></div>
<%=form_for @vitrine, :url=> vitrine_path, :method => :put do |a| %>
<%=a.text_area :about, :id=> "wmd-input", :class=> "wmd-input", :placeholder => "Sobre"%>
<%=a.submit "Salvar", :class=> 'btn' %>
<% end %>
<div id="wmd-preview" class="wmd-panel wmd-preview"></div>
</div>
</div>



<div class="subcontent">
<div class="grey_box">
  <h2>Endereço</h2>


<p class="tip">Adicione o seu endereço da sua vitrine para facilitar a vida do comprador</p>
<%=form_for @vitrine, :method=> :put do |ad| %>
  <ul class="address_list">
    <li> <%= label_tag :address, "Endereço", :class=>"label" %><%= ad.text_field  :address, :label=> "Endereço" %></li>
  <li> <%= label_tag :neighborhood, "Bairro", :class=>"label" %><%=ad.text_field  :neighborhood, :label=> "Bairro"%></li>

 <li> <%= label_tag :postal_code, "CEP", :class=>"label" %><%=ad.text_field  :postal_code, :label=> "CEP"%></li>

 <li> <%= label_tag :address_supplement, "Complemento", :class=>"label" %><%=ad.text_area  :address_supplement, :as=> :text, :label => "Complemento" %></li>
  
 <li>
<div class="form-group">
  <%= ad.label :state_id, 'Estado' %>&nbsp;
  <%= dynamic_collection_select :vitrine, :state_id, :city, State.all, :id, :code,
{ include_blank: false, submit_with_form: true, :prompt => 'Selecionar Estado'  }, { class: 'form-control' } %>
</div>
 </li>

 <li>

<div class="form-group">
  <%= ad.label :city_id, 'Cidade' %>&nbsp;
  <%= ad.collection_select :city_id, [], :name,  {include_blank: false, :prompt => 'Selecionar Cidade'}, { class: 'form-control' } %>
</div>
 </li>
</ul>

<%=ad.submit"Salvar",  :class => "btn" %>
<% end %>


</div>

</div>
</div>
</div>

<div class="box11 margin_top">
  <div class="block">

   
    <div class="content">
       <h2>Endereço</h2>
<ul>
  <li><%=current_vitrine.name %></li>
<li>
<%=current_vitrine.address %>
</li>
<li>
<%=current_vitrine.neighborhood %>
</li>
<li>
<%=current_vitrine.postal_code %>
<li>

<% unless current_vitrine.city.blank? %>
<li><%=current_vitrine.city.name %>
</li>
<% end %>
<% unless current_vitrine.state.blank? %>
<li><%=current_vitrine.state.name %>
</li>
<% end %>


</ul>

</div>
</div>
</div>


