<% title @vitrine.name%>
<%description @vitrine.feedbacks  %>
<% keywords  @vitrine.feedbacks %>

<div class="box3">
  <div class="block margin_top">
    <h1>Avaliações</h1>
    <div class="content">

    <table>
      <tbody>
        <tr>
             <td>
          <b>Vitrine:</b>
           <%= link_to  vitrine_path(@vitrine.id)  do %>
              <%= @vitrine.name %>
      <% end%>

        </td>
        

              <td>

          <b>Vitrine Criada em: </b>
 <span class="lista-time">
           <%= timeago_tag(@vitrine.created_at, :nojs => true, :date_only => false)%>
  
    
    
    </span>

        </td>
             <td>
            <b>Média de Avaliações</b>
    <div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_buyers %>"></div>

        </td>
      </tr>
      </tbody>
    </table>








    <table class="block_search">
      <tr>
        <td>

          <%= search_form_for @q, url: search_feedbacks_vitrines_path, method: :post  do |f| %>

          <%= f.text_field :buyer_comment_cont %>
          <%= f.submit "Buscar", :class=>"btn_grey" %>

          <% end %>
        </td>
        <td class="sort">

          Ordernar por
          <%= sort_link @q, :created_at, "Data" %>
          |
          <%= sort_link @q, :feedback_stars_rating, "Avaliação" %>
        </td>
      </tr>
    </table>
      <%= render :partial => 'feedbacks/feedbacks' %>

  </div>

 <%= render :partial => 'shared/feedback_pagination'%>

</div>

</div>
</div>

