<% title "Lojas" %>
<div class="box1">
  <%= render 'shared/flash_messages' %>

  <% breadcrumb :vitrine, @vitrine %>
</div>

<div class="box1">

  <div class="block">

    <div class="">
      <h4>
        <%= @vitrine.total_entries %>
        Lojas</h4>
    </div>

    <div class="filtro">

      <ul>
        <% @vitrine.facets['kind']['terms'].each do |facet| %>
        <li>
          <%= link_to_unless_current BoutiqueKind.find(facet['term']).kind, params.merge({(controller.controller_name == BoutiqueKindsController.controller_name ? :id: :kind_id) => facet['term']}) %>
          <%= facet['count'] %>
          <% if params[:kind_id] == facet['term'].to_s %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="search_block">

      <%= form_tag boutiques_path, method: :get, :id => "search_box" do %>

      <%= search_field_tag :query, params[:query],  :id => "search" %>

      <%= button_tag "", :class =>"search_btn", :name => nil %>
      <% end %>

    </div>

    <div class="content">

      <% @vitrine.each  do |vitrine| %>

      <div class="boutique_list">

        <%= link_to(image_tag(vitrine.logo.url(:thumb_edit).to_s),boutique_url(vitrine.id),  :crop => :fill) %>

        <ul class="boutique_details">
          <li title="<%= vitrine.name %>">
            <%= link_to  boutique_path(vitrine.id) do %>
            <%=  vitrine.name %>

            <% end %>
          </li>

          <li>

            <% if vitrine.marketing.present? %>
            <p title="<%= vitrine.marketing.slogan  %>"><%= vitrine.marketing.slogan %></p>

            <% end %>
          </li>

          <li>
            <span>Itens</span>

            <b><%= vitrine.products.count %></b>
          </li>

          <% unless vitrine.marketing.url.blank? %>

          <li title="<%= vitrine.marketing.url %>">
            <span>Site
              <%= link_to vitrine.marketing.url,  boutique.marketing.url%></span>
          </li>

          <% end %>

        </ul>

      </div>

      <% end %>

    </div>
    <div class="block_pagination">
      <div class="digg_pagination">
        <%= will_paginate @vitrine,:container => false, previous_label: h('« Voltar'), next_label: h('Próximo »'),:page_gap => "......", :inner_window => 1, :outer_window => 1 %>

      </div>

    </div>

  </div>

</div>
