<% title "Favoritos" %>
<%= render "shared/vitrine_menu" %>
<!--STOCK OF ITEMS  -->
<div class="box3">
  <div class="flash_box">
    <%= render 'shared/flash_messages' %>
  </div>

  <div class="block margin_top">
        <div class="square_box">
    <h1> Quem curtiu sua vitrine
</h1>

    <div class="content">

     
 

    <table class="zebra_branca margin_top" id="stock_user">

    

      <tbody>

        <% current_vitrine.votes_for.voters.each do |user| %>
        <tr>
          <td class="stock_td">
            <%= link_to  user_path(user.id) do %>
            <%= image_tag user.avatar.url(:mobile).to_s %>
<%= user.first_name %>
            <% end %>
          </td>

        
        </tr>
        <% end %>

      </tbody>
    </table>

  </div>

  <div class="block_pagination">
    <hr class="line"></hr>
    <div class="digg_pagination">
      <%= will_paginate  @users,:container => false, previous_label: h('« Voltar'), next_label: h('Próximo »'),:page_gap => t("......"), :inner_window => 1, :outer_window => 1 %>

    </div>
  </div>
</div>
</div>

</div>



