<% title "Sacola" %>
<div class="box1">
  <div class="flash_box">
    <%= render 'shared/flash_messages' %>
  </div>

  <div class="block margin_top">
    <% unless  @orders.nil? or  @orders.empty?  %>
    <div class="content">
      <h1>Carrinho</h1>


    <p>
      <span><%="#{order_count}" %></span>
      Itens</>
    </p>
    <p>Total:
      <%= number_to_currency order_subtotal %></p>
  </div>



       <% else %>

    <div class="content">

<h2>Seu Carrinho está vazio</h2>
      <p>Busque ótimos produtos</p>
      <%= link_to "Procurar", products_path  %>

    </div>
    <% end %>

    <% unless  @orders.nil? or  @orders.empty?  %>





    <table class="cart">
      <thead>
        <tr>
          <th>

            Produto
          </th>
          <th></th>

          <th>
            Quantidade
          </th>
          <th>
            Preço
          </th>
          <th>
            Subtotal
          </th>
          <th>
            remover
          </th>
          <th>
            Prosseguir
          </th>

        </tr>
      </thead>
      <%end %>
      <%= render partial: 'orders/order', collection: @orders unless  @orders.nil? or  @orders.empty?  %>



    </table>

    <% if current_user and current_user.cart %>

    <div class="block_pagination">
      <div class="digg_pagination">

        <%= will_paginate @orders,:container => false, previous_label: h('« Voltar'), next_label: h('Próximo »'),:page_gap => "......", :inner_window => 1, :outer_window => 1 %>

      </div>

    </div>
    <%end %>





<% unless  @orders.nil? or  @orders.empty?  %>

 
    <h2>Clientes que compraram itens no seu carrinho Também Compraram</h2>



<div class="sugestion_carousel liquid" >
	<span class="previous"></span>
	<div class="wrapper">
      <ul>

            <% @suggestions.each do |item| %>
              <li>
            <%= link_to product_path(item) do  %>
            <%= image_tag item.images.first.ifoto.url(:thumb).to_s %>
            <%= item.name %>
              <%= item.price %>
            <% end %>
            </li>
            <% end %>
  </ul>
	</div>
	<span class="next"></span>
</div>





   

</div>



</div>
<% end%>

</div>
</div>
