<% title  "Reclamação"  %>

<!--MARKETING  -->


<!--USER CREATE  -->
<div class="box5">
<% if @dispute.present? %>

  <%= render 'shared/error_messages', :target => @dispute %>

  <div class="block margin_top">

    <div class="subcontent">

<%= @dispute.updated_at.strftime("%d/%m/%Y") %>

<h1>Reclamação do pedido </h1>


<h2><%= @dispute.transaction_id %></h2>

 <% if params[:status] == "open" %>

                         <span class="sendship_sent">Aberto</span>
          
                       <% end %>





     <h2>Eu quero</h2>

<%= @dispute.solution %>

   <h2>Você já recebeu o item?</h2>

  
<%= @dispute.item_received.humanize %>

<h2>Qual o movito?</h2>

   <%= @dispute.motive %>


  <h2>Quantia a ser retornada</h2>

<%= number_to_currency(@dispute.amount, :unit => "R$") %>
   <h2>Reclamação do comprador</h2>
<%= @dispute.buyer_comment %>


   <h2>Reclamação do vendedor</h2>
<%= @dispute.seller_comment %>


<h2>Imagens da reclamação</h2>



    </div>


   <%= form_for @dispute, :url => order_dispute_path,  :method => :put  do |f| %>


  <%  if   current_user == @order.buyer%>

    <h2>Adicione fotos ou videos que possa confirmar sua reclamação</h2>




 
<% end %>


<% if current_vitrine == @order.seller %>

   <h2>Adicione fotos ou videos que possa confirmar sua reclamação</h2>





<% end %>




  <div id="comments<%= @dispute %>" class="comments">
          <%= render :partial => 'comments', :locals => {dispute: dispute} %>
        </div>
        <% if current_user %>
          <div class="controls">
            <%= hidden_field_tag 'dispute_id', @dispute.id%>
            <%= text_field_tag 'comment_input', '', :class => 'comment_input'%>
            <br/>
           
          </div>
        <% end %>


   <div class="grey_box"> 
   <%  if   current_user == @order.buyer %>

  <%= f.text_area :buyer_comment  %>

           <%= f.submit "Postar", :class => "btn_green btn_big margin_bottom" %>
    
     <% end %>




  </div>




  <div class="grey_box"> 
<%  if   current_vitrine == @order.seller %>
<%= f.text_area :seller_comment  %>

           <%= f.submit "Postar", :class => "btn_green btn_big margin_bottom" %>
    
         <% end %>

 <% end %>




    <%= link_to @dispute.status_name, finish_order_dispute_path(@dispute) %>



  </div>
     
  </div>










</div>
 <% end %>

 </div>



