<% title  "Reclamação"  %>

<!--MARKETING  -->


<!--USER CREATE  -->
<div class="box8">
<% if @dispute.present? %>

  <%= render 'shared/error_messages', :target => @dispute %>

  <div class="block margin_top">

    <div class="subcontent">
<%= @dispute.updated_at.strftime("%d %m %Y") %>
<h1>Reclamação do pedido </h1>


<h2><%= @dispute.transaction_id %></h2>

<%= @dispute.status %>

     <h2>Eu quero</h2>

<%= @dispute.solution %>

   <h2>Você já recebeu o item?</h2>

   <%= @dispute.item_received %>



<h2>Qual o movito?</h2>

   <%= @dispute.motive %>


  <h2>Quantia a ser retornada</h2>
<%= @dispute.amount %>


   <h2>Reclamação do comprador</h2>
<%= @dispute.buyer_comment %>


   <h2>Reclamação do vendedor</h2>
<%= @dispute.seller_comment %>


    </div>


   <%= semantic_form_for @dispute, :url => order_dispute_path,  :method => :put  do |f| %>


  <%  if   current_user == @order.buyer%>

    <h2>Adicione fotos ou videos que possa confirmar sua reclamação</h2>


<%= f.input :buyer_file, :as => :file, :label =>  "Adicionar arquivo", :required=>true %>




 
<% end %>


<% if current_vitrine == @order.seller %>

   <h2>Adicione fotos ou videos que possa confirmar sua reclamação</h2>


<%= f.input :buyer_seller, :as => :file, :label =>  "Adicionar arquivo", :required=>true %>


<% end %>




   <div class="grey_box"> 
   <%  if   current_user == @order.buyer %>

  <%= f.input :buyer_comment, :as => :text, :label =>  "Detalhe o que aconteceu", :required=>true %>


      <%= f.actions do %>
      <%= f.action :submit, :label => "Postar", :button_html => { :class => "btn_green btn_big margin_bottom"} %>
      <% end %>
      <% end %>





  </div>




  <div class="grey_box"> 
<%  if   current_vitrine == @order.seller %>

  <%= f.input :seller_comment, :as => :text, :label =>  "Detalhe o que aconteceu", :required=>true %>


      <%= f.actions do %>
      <%= f.action :submit, :label => "Postar", :button_html => { :class => "btn_green btn_big margin_bottom"} %>
  <% end %>
      <% end %>
    <% end %>
       







  </div>
     
  </div>










</div>
 <% end %>

 </div>


 <div class="box10">
   <div class="block">
   <h2>Imagens e videos da reclamação</h2>

<ul>

    
    </ul>
   </div>




 </div>
