<% title  "Reclamação"  %>

<!--MARKETING  -->

<% if @dispute.present? %>

<!--USER CREATE  -->
<div class="box8">

  <%= render 'shared/error_messages', :target => @dispute %>

  <div class="block margin_top">

    <div class="subcontent">
<%= @dispute.updated_at.strftime("%d %m %Y") %>
<h1>Reclamação do pedido </h1>


<h2><%= @dispute.transaction_id %></h2>

<%= @dispute.status %>

     <h2>Eu quero</h2>

<%= @dispute.solution %>

   <h2>Você já recebeu o item?</h2>

   <%= @dispute.item_received %>



<h2>Qual o movito?</h2>

   <%= @dispute.motive %>


  <h2>Quantia a ser retornada</h2>
<%= @dispute.amount %>


   <h2>Reclamação do comprador</h2>
<%= @dispute.buyer_comment %>


   <h2>Reclamação do vendedor</h2>
<%= @dispute.seller_comment %>


    </div>





  <%  if   current_user == @order.buyer or current_vitrine == @order.seller  %>

    <h2>Adicione fotos ou videos que possa confirmar sua reclamação</h2>

          <ul class="image_info">
            <li class="tip">JPG, GIF ou PNG, tamanho máximo: 2MB</li>
          
          </ul>

          <div class="dropzone" id="prova" data-update-url="<%=  order_dispute_path + '?authenticity_token=' + form_authenticity_token %>"></div>




<% end %>






   <%= semantic_form_for @dispute, :url => order_dispute_path,  :method => :put  do |f| %>

   <div class="grey_box"> 
   <%  if   current_user == @order.buyer %>

  <%= f.input :buyer_comment, :as => :text, :label =>  "Detalhe o que aconteceu", :required=>true %>


      <%= f.actions do %>
      <%= f.action :submit, :label => "Postar", :button_html => { :class => "btn_green btn_big margin_bottom"} %>
      <% end %>
      <% end %>





  </div>




  <div class="grey_box"> 
<%  if   current_vitrine == @order.seller %>

  <%= f.input :seller_comment, :as => :text, :label =>  "Detalhe o que aconteceu", :required=>true %>


      <%= f.actions do %>
      <%= f.action :submit, :label => "Postar", :button_html => { :class => "btn_green btn_big margin_bottom"} %>
  <% end %>
      <% end %>
    <% end %>
       







  </div>
     
  </div>










 </div>
 </div>
 <% end %>


 <div class="box9">
   <div class="block">
   <h2>Imagens e videos da reclamação</h2>

<ul>

      <% unless @dispute.images.blank? %>
        <%  @dispute.images.offset(4).each do |i| %>
          <li>
           


 <a href="<%= i.prova.url.to_s %>"> 
        <%= image_tag(i.prova.url(:big).to_s) %>
    </a> 

          </li>

        <% end %>

      <% end %>
    </ul>
   </div>




 </div>
