<% title  "Reclamação"  %>

<!--MARKETING  -->

<% if @dispute.present? %>

<!--USER CREATE  -->
<div class="box8">

  <%= render 'shared/error_messages', :target => @dispute %>

  <div class="block margin_top">

    <div class="subcontent">
      
      <h2>Reclamação do pedido <%= @dispute.transaction_id %></h2>

<%= @dispute.status %>

     <h2>Eu quero</h2>

<%= @dispute.solution %>

   <h2>Você já recebeu o item?</h2>

   <%= @dispute.item_received %>



<h2>Qual o movito?</h2>

   <%= @dispute.motive %>


  <h2>Quantia a ser retornada</h2>
<%= @dispute.amount %>


   <h2>Reclamação do comprador</h2>
<%= @dispute.buyer_comment %>


   <h2>Reclamação do vendedor</h2>
<%= @dispute.seller_comment %>


</div>
   <%= semantic_form_for @dispute, :url => order_dispute_path,  :method => :put  do |f| %>

   <div class="grey_box"> 
   <%  if   current_user == @order.buyer %>

  <%= f.input :buyer_comment, :as => :text, :label =>  "Detalhe o que aconteceu", :required=>true %>


      <%= f.actions do %>
      <%= f.action :submit, :label => "Postar", :button_html => { :class => "btn_green btn_big margin_bottom"} %>
      <% end %>
      <% end %>





  </div>




  <div class="grey_box"> 
<%  if   current_vitrine == @order.seller %>

  <%= f.input :seller_comment, :as => :text, :label =>  "Detalhe o que aconteceu", :required=>true %>


      <%= f.actions do %>
      <%= f.action :submit, :label => "Postar", :button_html => { :class => "btn_green btn_big margin_bottom"} %>
  <% end %>
      <% end %>
    <% end %>
       







  </div>
     
  </div>


  <%  if   current_user == @order.buyer %>
    <h2>Adicione fotos ou videos que possa confirmar sua reclamação</h2>


<span class="tip">JPG, GIF ou PNG, tamanho máximo: 2MB</span>
<%=form_for(@dispute, :method=> :put, html: { multipart: true, class: "dropzone", id: "buyer_dropzone"}) do |f| %>
<div class="fallback">
<%=f.file_field :buyer_file %><br>
<%=f.submit "Salvar" %>
</div>
<% end %>


<% end %>



  <%  if   current_vitrine == @order.seller %>
    <h2>Adicione fotos ou videos que possa confirmar sua reclamação</h2>


<span class="tip">JPG, GIF ou PNG, tamanho máximo: 2MB</span>
<%=form_for(@dispute, :method=> :put, html: { multipart: true, class: "dropzone", id: "seller_dropzone"}) do |f| %>
<div class="fallback">
<%=f.file_field :seller_file %><br>
<%=f.submit "Salvar" %>
</div>
<% end %>

<% end %>







 </div>
 </div>
 <% end %>



