<% title  "Criar Reclamação"  %>

<!--MARKETING  -->



<!--USER CREATE  -->
<div class="box8">

  <%= render 'shared/error_messages', :target => @dispute %>

  <div class="block margin_top">
        
    <div class="subcontent">

      <h1>Reclamação e Acordo</h1>

      <p>Nessa seção você poderá resgitrar o problema  que houve com a transação, e se ambas as partes não chegarem
      a um acordo por meio dessa seção ambas das partes devem levar essa reclamação para o paypal</p>

     

  <div class="content">
        <%= link_to  "https://www.paypal.com/br"  do %>

          <%= content_tag(:span, nil, :class => 'sprite-icons-paypal_protect') %>

        <% end %>

        <p> O paypal oferece proteção para o comprador e vendedor</p>
   Saiba mais em:
        <%= link_to nil, "https://www.paypal.com/br/webapps/mpp/paypal-safety-and-security" %>
      </div>





       <div class="grey_box"> 

       <%= form_for @dispute, :url => order_dispute_path(@order) do |f| %>
    
        
        
  
          <h2>Eu quero</h2>

<%= f.select :solution, ['Retorno do dinheiro', 'Reenvio',  'Trocar Produto',  'Cancelar Pedido'] %>

<h2>Você já recebeu o item?</h2>
<ul>
  <li>
<%= f.label :item_received, 'Não' %>

<%= f.radio_button  :item_received, false%>
  </li>
  <il>
<%= f.label :item_received, 'Sim' %>

<%= f.radio_button  :item_received, true%>
</li>
</ul>


      <h2>Qual o movito?</h2>

    
<%= f.select :motive, ['Ainda não recebi', 'Reenvio',  'Recebi um item que não corresponde à descrição do vendedor',  'Item Danificado', 'Concorcamos em cancelar a transação'] %>






  <h2>Quantia a ser retornada</h2>

  

 <%= f.number_field :amount, :class => 'text_field' %>

               <h2>Descreva e detalhe sua contextação</h2>


 <%= f.text_area :comment, :class => 'text_field' %>



           <%= f.submit "Postar", :class => "btn_green btn_big margin_bottom" %>
      <% end %>
               </div>
      </div>

  </div>
     
</div>

