<% title  "Reclamação"  %>

<!--MARKETING  -->


<!--USER CREATE  -->
<div class="box5">
<% if @dispute.present? %>

  <%= render 'shared/error_messages', :target => @dispute %>

  <div class="block margin_top">

    <div class="subcontent">


      <h1>Reclamação do pedido </h1>
      <ul>

        <li>Data: <b><%= @dispute.updated_at.strftime("%d/%m/%Y") %></b></li>



        <li>Estado: <% if  @dispute.status == "open" %>

  <span class="sendship_sent">Aberto</span>
          
<% end %></li>
      </ul>



<p>O <b><%= @dispute.buyer_name %></b> Abriu uma reclação relativa ao pedido: <b><%= @dispute.transaction_id %></b></p>






     <h2>Requisição</h2>

<%= @dispute.solution %>

   <h2>O item já foi recebido?</h2>

  
<%= @dispute.item_received.humanize %>

<h2>Motivo</h2>

   <%= @dispute.motive %>


  <h2>Quantia requerida</h2>

<%= number_to_currency(@dispute.amount, :unit => "R$") %>



<h2>Imagens</h2>



  <ul>

   <%  @dispute.proofs.first(4).each do |i| %>
    <li>
        
      <%= link_to i.file_url(:big).to_s do %>
      <%= image_tag(i.file.url(:thumb).to_s) %>
<% end %>
      
      
        </li>
       <% end %>

  </ul>






<#%= form_for(@dispute, :url =>  order_dispute_path, :html => { :multipart => true }) do |f| %>
<#%= f.fields_for :proofs do |p| %>
     <div class="field">
       <#%= p.label :file %><br>
       <#%= p.file_field :file, :multiple => true, name: "proofs[file][]" %>
     </div>
   <#% end %>
<#%=f.submit "Salvar" %>

 <#% end %>



<div class="preview-template">
</div>
<span class="tip">JPG, GIF ou PNG, tamanho máximo: 2MB</span>
<#%=form_for(@dispute, :url => order_dispute_path, html: { multipart: true, class: "dropzone", id: "file"}) do |f| %>
  <#%= f.fields_for :proofs do |p| %>

  <div class="fallback">
<#%=p.file_field :file, name: "proofs[file][]" %><br>
<#%=f.submit "Salvar" %>
</div>
<#% end %>
</div>

<#% end %>


 <div class="ropzone" id=ile" data-post-url="<#%=  upload_order_dispute_path  %>"></div>


 <div class="dropzone" id="file" data-post-url="<%=  upload_order_dispute_path + '?authenticity_token=' + form_authenticity_token %>"></div>



    


 <div id="comments" class="comments">
<% if @comments.present? %>
  <%= render :partial => 'disputes/comments'%>
<% end %>
          
        </div>


<div class="grey_box"> 
  
 
<%= form_for [ @dispute, @comment], :url =>  order_dispute_comments_path  do |f|-%>
  <%= f.text_area :comment %>
  <%= f.submit "Postar", :class => "btn_green btn_big margin_bottom" %>
<% end -%>




     
  </div>

  <%= link_to @dispute.status_name, finish_order_dispute_path(@dispute) %>

</div>
 <% end %>

 </div>




