<% title  "Alterar Password" %>

<%= render "shared/user_menu" %>

<div class="box5">

  <div class="block margin_top">
    <%= render 'shared/flash_messages' %>
    <%= render 'shared/error_messages', :target => @password_form %>
<div class="square_box">


    <h4>Alterar Password</h4>



    <div class="content">

      <%= semantic_form_for @password_form, url: passwords_path, method: :post  do |f| %>
      <%= f.inputs do %>
      <%= f.input :original_password,  :as => :password, :placeholder => "Password Atual", :label => false, :required=>true  %>

      <%= f.input :new_password, :as => :password, :placeholder => "Novo Password", :label => false,:required=>true %>
      <%= f.input :new_password_confirmation , :as => :password, :placeholder => "Confirmar", :label => false, :required=>true %>

      <%= f.actions do %>
      <%= f.action :submit, :label => "Confirmar", :button_html => { :class => "btn", :id => "password_submit"} %>
      <% end %>
      <% end %>
      <% end %>

    </div>

  </div>

</div>
<div class="box11">
  <div class="tip">
    <h4>Password</h4>
    <p>De preferência a um password alfanumérico</p>

  </div>

</div>
