
<div class="feed">
<table class="completed_feedback_table">
  <tr>
    <th>
<b>Item</b>
    </th>
    <th>  <b>Avaliação</b>
    
    </th>
    <th><b>Por:</b></th>
    <th><b>Data</b></th>
  </tr>

  <tbody>
    <% @feedbacks.each do |feedback| %>

  <% if (order = feedback.order).present? && (product = feedback.product).present? %>
    <% order = feedback.order %>
    <% product = order.product %>
  <% else %>
    <% odata = feedback.odata %>
    <% pdata = odata.pdata %>
  <% end %>

    
    <% buyer = feedback.user %>
    <% seller = feedback.vitrine %>
    <% is_buyer = @user.nil? ? false : @user.id == buyer.id %>
    <tr>

      <% if product.present? %>

      <td>
      
        <%= link_to  product_path(product.id), :title => product.name do %>
        <% if product.images.present? %>
        <%= image_tag product.images.first.ifoto.url(:small).to_s, :alt => product.name %>
        <% end %>
        <%=  product.name  %>
        <% end %>
      </td>

    <% else %>

  <td>
      
        <%= link_to  pdata_path(pdata.id), :title => pdata.name do %>
       
            <%= image_tag pdata.image.to_s, :alt => pdata.name %>
 
        <%=  pdata.name  %>
        <% end %>
      </td>

 <% end %>



      <td>

              <div class="feedback_stars_rating" data-read-only="true" data-score="<%= is_buyer ? feedback.seller_rating : feedback.buyer_rating %>"></div>
        <%= is_buyer ? feedback.seller_comment : feedback.buyer_comment %></td>

      <td>
        <% if seller.present? && buyer.present? %>
          <%= is_buyer ? link_to(seller.name, vitrine_path(seller.id)) : link_to(buyer.first_name, user_path(buyer.id)) %>
        <% else %>

          <b><%= is_buyer ? feedback.seller_name : feedback.buyer_name %></b>
<% end %>

      </td>

      <td>
             <%= is_buyer ? feedback.seller_feedback_date.strftime("%d/%m/%Y") : feedback.buyer_feedback_date.strftime("%d/%m/%Y") %></td>
 
 
      
      </td>
    <td>
        
    </td>

  </tr>
  <% end %>

 
</tbody>
<tfoot>
  <tr>
    <td colspan="4">
  <%= render :partial => 'shared/feedback_pagination'%>
     

    </td>
  </tr>
</tfoot>
</table>
</div>
