<% title "Avaliações" %>
<%= render "shared/feedback_menu" %>
<div class="box5">
  <div class="block margin_top">
    <div class="square_box">

    <h1>Avaliação</h1>
    <div class="subcontent">

      <table class="block_search">
        <tr>
           <%= search_form_for @q, url: completed_feedbacks_path, method: :post  do |f| %>


          <td>

            <%= f.text_field :buyer_comment_cont %>

</td>


  <td>


            <%= f.submit "Buscar", :class=>"btn_grey" %>

                     </td>
          <td class="sort">

            Ordernar por
              <%= sort_link @q, :created_at, "Data" %>
            |
            <%= sort_link @q, :feedback_stars_rating, "Avaliação" %>
          </td>
           <% end %>

        </tr>
      </table>

    </div>
    <div class="subcontent">

      <% if params[:view] != Feedback::FROM_SELLERS %>
        <b>Media de avaliação dos Compradores:</b>
      <div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_buyers %>"></div>
      <% end %>
      <% if params[:view] != Feedback::FROM_BUYERS %>
        <b>Media de avaliação dos Vendedores:</b>
      <div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_sellers %>"></div>
      <% end %>
      <div class="feedback_view_selector">
        <%= params[:view].present? ? (link_to 'Todos', completed_feedbacks_path) : content_tag(:strong, 'Todos') %>
        /
        <%= params[:view] != Feedback::FROM_BUYERS ? (link_to 'Dos Compradores', completed_feedbacks_path(:view => Feedback::FROM_BUYERS)) : content_tag(:strong, 'Dos Compradores') %>
        /
        <%= params[:view] != Feedback::FROM_SELLERS ? (link_to 'Dos Vendedores', completed_feedbacks_path(:view => Feedback::FROM_SELLERS)) : content_tag(:strong, 'Dos Vendedores') %>
      </div>
      <%= render :partial => 'feedbacks' %>
    </div>
  </div>
</div>
</div>
