<div class="contextual">
  <%= link_to 'New Product', new_admin_product_path, :class => 'icon icon-add' %>
  | <%= search_form_for @search, :url => collection_url do |f| %>
      <%
        # Check https://github.com/ernie/ransack for options.
        # Simply change :id_eq into :name_cont, etc.
      %>
      <%= f.text_field :id_eq, :placeholder => 'Search by ID' %>
    <% end %>
</div>

<h2>
    Products
</h2>

<% if @products.blank? %>
  <p class="nodata">No data to display</p>
<% else %>
<table class="list issues">
  <thead>
    <tr>
      <th class="checkbox"><%= image_tag "admin/true.png" %></th>
        <th><%= sort_link(@search, :name) %></th>
        <th><%= sort_link(@search, :vitrine_id) %></th>
        <th><%= sort_link(@search, :price) %></th>
        <th><%= sort_link(@search, :quantity) %></th>
        <th></th>
    </tr>
  </thead>

<%= form_tag(destroy_all_admin_products_path, :method => :delete) do %>
  <tbody>
<% @products.each do |product| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="checkbox">
        <%= check_box_tag('ids[]', product.id, nil, :id => "ids_#{product.id}") %>
      </td>
      <td><%=h product.name %></td>
      <td><%=h product.vitrine_id %></td>
      <td><%=h product.price %></td>
      <td><%=h product.quantity %></td>
      <td class="buttons">
        <%= link_to t('helpers.links.show'), [:admin, product], :class => 'icon icon-view' %>
        <%= link_to t('helpers.links.edit'), edit_admin_product_path(product), :class => 'icon icon-edit' %>
        <%= link_to t('helpers.links.destroy'), [:admin, product], :confirm => t('helpers.links.confirm'), :method => :delete, :class => 'icon icon-del' %>
      </td>
    </tr>
<% end %>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th colspan="4"><%= submit_tag t("helpers.submit.delete"), :confirm => t('helpers.links.confirm') %></th>
      <th></th>
    </tr>
  </tfoot>
<% end %>
</table>
<% end %>
<%= navigate(@products) %>
