<% title  "Slogan & Site" %>
<%= render "shared/vitrine_menu" %>
<div class="box5">

  <div class="flash_box">
    <%= render 'shared/flash_messages' %>
    <%= render 'shared/error_messages', :target => @marketing  %>
  </div>
  <div class="block  margin_top">




<h1>Site e Social</h1>


  <%= semantic_form_for @marketing, :url => vitrine_marketing_path, :method => :put do |mkt| %>
        <%= mkt.inputs do %>

      <div class="subcontent">


    <h4>Site</h4>

       
  
        <%= mkt.input :url, :label => "Site da sua vitrine" %>
           </div>



  
      <div class="subcontent">
  <h4>Facebook</h4>

             <%= mkt.input :facebook, :label => "Facebook da sua vitrine" %>
           </div>


    <div class="subcontent">
  <h4>Youtube</h4>
        <%= mkt.input :youtube, :label => "Seu Canal" %>
         </div>



  <div class="subcontent">
  <h4>Instagram</h4>

            <%= mkt.input :instagram, :label => "Seu Instagram" %>
          </div>



  
      <div class="subcontent">
  <h4>Twitter</h4>

               <%= mkt.input :twitter, :label => "Twitter da sua vitrine" %>
     
      </div>







  </div>

     <%= mkt.actions do %>
        <%= mkt.action :submit, :label => "Salvar", :button_html => { :class => "btn"} %>
        <% end %>
        <% end %>
        <% end %>

</div>

