<% title  "Slogan & Site" %>
<%= render "shared/vitrine_menu" %>
<div class="box5">

  <div class="flash_box">
    <%= render 'shared/flash_messages' %>
    <%= render 'shared/error_messages', :target => @marketing  %>
  </div>
  <div class="block  margin_top">



    <div class="square_box">

  <h1>Banners</h1>

    <div class="subcontent">


   <%= image_tag(current_vitrine.marketing.banner.url(:mobile).to_s) %>



    <p class="tip">Os Banners serão redimencionandos para 986 x 215 e 414 x 165</p>



      <%= form_for(@marketing, :url => vitrine_marketing_path, :method => :put, html: { multipart: true, id: "banner", class: "dropzone"}) do |banner|  %>


              <div class="fallback">

                <%= banner.file_field :img %><br>
                <%= banner.submit "Salvar" %>
              </div>





    <% end %>
  </div>

  </div>






    <div class="square_box">
    <h4>Slogan</h4>


      <div class="subcontent">



        <p class="tip">Slogan ou frase de efeito é uma frase de fácil memorização que resume as características de um produto ou serviço
        </p>

        <%= semantic_form_for @marketing, :url => vitrine_marketing_path, :method => :put do |mrkt| %>
        <%= mrkt.inputs do %>
        <%= mrkt.input :slogan, :as => :text,:label =>  "Slogan" %>
        <%= mrkt.actions do %>
        <%= mrkt.action :submit, :label => "Salvar", :button_html => { :class => "btn"} %>
        <% end %>
        <% end %>
        <% end %>
      </div>
</div>

<div class="square_box">
    <h4>Site</h4>
      <div class="subcontent">


        <p class="tip">Se tua boutique não tiver site tu pode adicionar o facebook da sua vitrine</p>

        <%= semantic_form_for @marketing, :url => vitrine_marketing_path, :method => :put do |url| %>
        <%= url.inputs do %>
        <%= url.input :url, :label => "Site da sua vitrine" %>
        <%= url.actions do %>
        <%= url.action :submit, :label => "Salvar", :button_html => { :class => "btn"} %>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
