<% title  "Slogan & Site" %>
<%= render "shared/vitrine_menu" %>
<div class="box5">

  <div class="flash_box">
    <%= render 'shared/flash_messages' %>
    <%= render 'shared/error_messages', :target => @marketing  %>
  </div>
  <div class="block  margin_top">




<h1>Site e Social</h1>




      <div class="subcontent">


    <h4>Site</h4>

       
        <%= semantic_form_for @marketing, :url => vitrine_marketing_path, :method => :put do |url| %>
        <%= url.inputs do %>
        <%= url.input :url, :label => "Site da sua vitrine" %>
        <%= url.actions do %>
        <%= url.action :submit, :label => "Salvar", :button_html => { :class => "btn"} %>
        <% end %>
        <% end %>
        <% end %>
      </div>



  
      <div class="subcontent">
  <h4>Facebook</h4>

        <%= semantic_form_for @marketing, :url => vitrine_marketing_path, :method => :put do |face| %>
        <%= face.inputs do %>
        <%= face.input :facebook, :label => "Facebook da sua vitrine" %>
        <%= face.actions do %>
        <%= face.action :submit, :label => "Salvar", :button_html => { :class => "btn"} %>
        <% end %>
        <% end %>
        <% end %>
      </div>


    <div class="subcontent">
  <h4>Youtube</h4>

        <%= semantic_form_for @marketing, :url => vitrine_marketing_path, :method => :put do |y| %>
        <%= y.inputs do %>
        <%= y.input :youtube, :label => "Seu Canal" %>
        <%= y.actions do %>
        <%= y.action :submit, :label => "Salvar", :button_html => { :class => "btn"} %>
        <% end %>
        <% end %>
        <% end %>
      </div>



  <div class="subcontent">
  <h4>Instagram</h4>

        <%= semantic_form_for @marketing, :url => vitrine_marketing_path, :method => :put do |i| %>
        <%= i.inputs do %>
        <%= i.input :instagram, :label => "Seu Instagram" %>
        <%= i.actions do %>
        <%= i.action :submit, :label => "Salvar", :button_html => { :class => "btn"} %>
        <% end %>
        <% end %>
        <% end %>
      </div>



  
      <div class="subcontent">
  <h4>Twitter</h4>

        <%= semantic_form_for @marketing, :url => vitrine_marketing_path, :method => :put do |twi| %>
        <%= twi.inputs do %>
        <%= twi.input :twitter, :label => "Twitter da sua vitrine" %>
        <%= twi.actions do %>
        <%= twi.action :submit, :label => "Salvar", :button_html => { :class => "btn"} %>
        <% end %>
        <% end %>
        <% end %>
      </div>







  </div>
</div>
