<% title 'Mural' %>
<script language="javascript">
  var total_post_pages = <%= @posts.total_pages %>;
</script>
<div class="box4">
  <div class="block">
    <h1>Mural</h1>

    <%= form_for @post, :html => {:multipart => true} do |f| %>
    <div class="post_form_content">
      <%= f.text_area :text, :placeholder => 'Escreva algo ou poste uma foto...' %>
      <br/>
      <%= f.submit 'Postar', :class => 'botao verde' %>
    </div>
    <div id="upload-image-container"></div>
    <% end %>
    <%= render :partial => 'posts' %>
    <div id="more_posts"></div>
  </div>
</div>
