<% content_for(:sidebar) do %>
  <h3>Sidebar</h3>
  You can add information in the sidebar if you like.
  
  <h3>Or not</h3>
  Or you can leave it out by removing content_for.
<% end %>

<div class="box">
    <%= form.input :first_name -%>
    <%= form.input :email -%>
    <%= form.input :admin -%>
    <%= form.input :banned -%>
    <%= form.input :email_confirmed -%>
</div>
