<%= form_for @product, method: :put, url: wizard_path do |p| %>

<div class="block margin_top">
   <h4>Categorias</h4>
   <div class="conten">


      <ul>
         <li>
      <%= p.select :gender_id, options_for_select(@genders.collect { |gender|
          [gender.gender.titleize, gender.id] }, 1), {}, { id: 'genders_select' } %>
        </li>

        <li>

          <%= p.select :category_id, options_for_select(@categories.collect { |category|
              [category.name.titleize, category.id] }, 0), {}, { id: 'categories_select' } %>
            </li>
            <li>

              <%= p.select :subcategory_id, options_for_select(@subcategories.collect { |subcategory|
                  [subcategory.name.titleize, subcategory.id] }, 0), {}, { id: 'subcategories_select' } %>
</li>
  </ul>
   </div>
</div>

<div class="block">
   <h4>Nome e Descrição</h4>
   <div class="content">
      <ul>
         <li>
            <%= p.text_field  :name, :label =>false, :placeholder => "Nome"%>
         </li>
         <li>
            <div id="notes-bar"></div>
            <%= p.text_area :detail,  :id => 'notes', :placeholder => "Descrição"%>
            <div id="notes-preview"></div>
         </li>
      </ul>
   </div>
</div>

<div class="block">
   <h4>Palavras Chave</h4>
   <div class="content">
      <%= p.text_field :meta_keywords,  :id => 'tags' %>
   </div>
</div>

<%= p.submit 'Next Step' %>
