
<div class="content">



    <h1>Avaliações</h1>
  
      <div class="subcontent">
        <%= link_to  product_path(@product.id) do %>
<% if @product.images.present? %>
        <%= image_tag @product.images.first.ifoto.url(:thumb).to_s %>
<% end %>
        <% end %>

        <%= link_to  product_path(@product.id)  do %>
        <%= @product.name %>
        <% end%>
      </div>


      <div class="subcontent">
      <li class="lista-time">
        <%= link_to  vitrine_path(@product.vitrine.id)  do %>
        Por
        <%= @product.vitrine.name %>
        <% end%>
        <%= timeago_tag(@product.created_at, :nojs => true, :date_only => false)%>
      </li>
    </div>

    <table class="block_search">
      <tr>
       
        <td class="sort">

          Ordernar por
          <%= sort_link @q, :created_at, "Data" %>
          |
          <%= sort_link @q, :feedback_stars_rating, "Avaliação" %>
        </td>
      </tr>
    </table>

    <div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_buyers %>"></div>

    <%= render :partial => 'feedbacks/feedbacks' %>

  

  <div class="block_pagination">
    <div class="digg_pagination">
      <%= will_paginate @feedbacks,:container => false, previous_label: h('« Voltar'), next_label: h('Próximo »'),:page_gap => "......", :inner_window => 1, :outer_window => 1 %>

    </div>
  </div>

</div>


