<div id="searchResults_list">
<table class="product_list">
<tbody>

<% @products.each do |product| %>

<tr>

<td class="image_cell">
<%=link_to product_path(product.id), :class=>"product" do %>
<%if product.images.present? %>
<%=image_tag product.images.first.ifoto.url(:thumb).to_s, :class=>"productImg" %>
<% end %>
<% end %>
</td>


<td  class="info_cell">
  <%=link_to product_path(product.id), :class=>"product" do %>
<span class="productName_list">
<%=product.name %>
</span>
<span class="price"><%=number_to_currency(product.price, :unit=> "R$") %></span>


<% if product.feedbacks %>
<div class="productFeeback">
<div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_buyers %>"></div>
<%=@total_feedbacks %>
</div>
<% end %>


<span class="by">Por
<%=product.vitrine.name %></span>
<% end %>




</td>


</tr>

<% end %>

</tbody>
</table>
</div>
