<% title "Produtos" %>
<div class="box1">
  <% breadcrumb :products, @products %>
</div>

<%= render "shared/filtro_product" %>

<!-- VITRINE-->
<div class="box3">
  <div class="block header">

    <h1><%= @products.current_page %>
      de
      <%= @products.total_pages %>
      no Total
      <span class="orange"><%= @products.total_entries %></span>
      Itens</h1>
    <div class="content">

      <div class="searchResults">

        <table class="zebra_vitrine" id="products_vitrine">

          <thead>
            <tr class="header">
              <th scope="col">Popularidade</th>

              <th scope="col">Produto</th>
              <th scope="col">Preço</th>
              <th scope="col">Vitrine</th>
              <th scope="col">Restando</th>
              <th scope="col">Avaliação</th>

              <th scope="col">Postado em</th>

            </tr>
          </thead>

          <tbody>
            <% if @products.present? %>
            <% @products.limit(22).all.each do |product|%>

            <tr>

              <td class="stock_td">
                <%= link_to  product_path(product.id) do %>
                <%= image_tag product.f1.url(:table).to_s %>
                <%=  product.name %>
                <% end %>
              </td>

              <td class="lista-preco_stock">
                <span>
                  <b><%=  number_to_currency(product.price, :unit => "R$") %></b>
                </span>
              </td>

              <td>

                <%= link_to  vitrine_path(product.vitrine.id) do %>
                <%= product.vitrine.name %>
                <% end %>

              </td>

              <td>
                <% if product.quantity %>
                <%=product.quantity %>

                <% end %>

              </td>

              <td>
                <div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_buyers %>"></div>
                <%= content_tag(:span, nil) do%>

                <%= @total_feedbacks %>
                <% end %>
              </td>

              <td>
                <%= timeago_tag(product.created_at, :nojs => true, :date_only => false)%>

              </td>

            </tr>

            <% end %>
            <% end %>

          </tbody>

        </table>

      </div>

    </div>
    <div class="block_pagination">
      <div class="digg_pagination">
        <%= will_paginate @products,:container => false, previous_label: h('« Voltar'), next_label: h('Próximo »'),:page_gap => "......", :inner_window => 1, :outer_window => 1 %>

      </div>

    </div>

  </div>

</div>
