<% title "Produtos" %>
<div class="box1">
<% breadcrumb :products, @products %>
</div>
<%=render 'shared/filtro_product' %>
<div class="box3">
<div class="subcontent_top">
<p>
<h1> Produtos <%=@products.total_entries %></h1>





    <div class="episode_views">
      Visualizar:
      <span class="view"><%= link_to_unless params[:view].blank?, image_tag("views/full.png", :size => "15x10"), params.merge(:view => nil, :page => nil), :title => "Full View" %></span>
      <span class="view"><%= link_to_unless params[:view] == "grid", image_tag("views/grid.png", :size => "11x10"), params.merge(:view => "grid", :page => nil), :title => "Grid View" %></span>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Order by:
      <%= select_tag 'order_by', options_for_select([['Price: Low To High', 'price:asc'], ['Price: High To Low', 'price:desc'], ['Avg. Customer Review', 'average_customer_rating:desc'], ['Newest Arrivals', 'created_at:desc']], params[:order_by] || 'created_at:desc') %>
    </div>




<div class="content">
  <% if params[:view].nil? %>



<%= render :partial => 'products/list'%>

<% elsif params[:view] == "grid" %>

<%= render :partial => 'products/product'%>
  <% end %>


</div>



<div class="block_pagination">
<div class="digg_pagination">
<%=will_paginate @products,:container=> false, previous_label: h('« Voltar'), next_label: h('Próximo »'),:page_gap => "......", :inner_window => 1, :outer_window => 1 %>
</div>
</div>
</div>




<div class="block">
    <h2>Confira Também</h2>


  <div class="sugestion_carousel liquid" >
	<span class="previous"></span>
	<div class="wrapper">
  <ul>

            <% @suggestions.each do |item| %>
              <li>
            <%= link_to product_path(item) do  %>
            <%= image_tag item.images.first.ifoto.url(:thumb).to_s %>
            <%= item.name %>
              <%= item.price %>
            <% end %>
            </li>
            <% end %>
  </ul>


 	</div>
	<span class="next"></span>
</div>






  

</div>

</div>
















