<div class="block">
  <h4>Medidas</h4>
  <div class="content">
 
  <div class="left_info"> 

<ul>
  <li><span>Altura</span> <b><%=mede @product.height  %></b></li>
  <li><span>Comprimento</span> <b><%= mede @product.length  %></b></li>
  <li><span>Cintura</span> <b><%= mede @product.waist  %></b></li>
  <li><span>Ombro</span> <b><%= mede @product.shoulder  %></b></li>
  <li><span>Busto </span><b><%= mede @product.bust  %></b></li>
  <li><span>Quadril</span> <b> <%= mede @product.hip  %></b></li>
  <li><span>Circunferência </span><b><%= mede @product.circumference  %></b></li>
  <li><span>Comprimento da Manga</span> <b><%= mede @product.sleeve_length  %></b></li>
  <li><span>Largura da Manga </span><b><%= mede @product.sleeve_width  %></b></li>
  <li><span>Comprimento da Perna </span><b><%= mede @product.leg_length  %></b></li>
  <li><span>Largura da Perna </span> <b><%= mede @product.leg_width  %></b></li>
  </ul>
</div>
</div>
</div>



