<% title "Adicionar Produto" %>
<div class="box4">



<div class="flash_box">
<%=render 'shared/flash_messages' %>
<%=render 'shared/error_messages', :target=> @product %>
</div>



<div class="block margin_top">
  <%=form_for @product, :url => products_path,  :method => :post   do |p| %>

     
  <div class="subcontent_top">
<div class="grey_box"> 
<h2>Nome do seu produto</h2>
<%=p.text_field :name, :label=>"Nome"%>
   



  <table>
    <tr>
      <td>
<h2>Selecione as categorias</h2>
<div class="form-group">
<%=p.label :gender_id, 'Genero' %>&nbsp;
<%=dynamic_collection_select :product, :gender_id, :category, Gender.all, :id, :gender, { include_blank: false, submit_with_form: true, :prompt=> 'Selecionar Genero' }, { class: 'form-control select_item' } %>

      
</div>
 </br>

<div class="form-group">
<%=p.label :category_id, 'Categoria' %>&nbsp;
<%=dynamic_collection_select :product, :category_id, :subcategory, [], :id, :name, { include_blank: false, submit_with_form: true, :prompt=> 'Selecionar Categoria' }, { class: 'form-control select_item' } %>
</div>
 </br>

<div class="form-group">
<%=p.label :subcategory_id, 'Subcategoria' %>&nbsp;
<%=p.collection_select :subcategory_id, [], :id, :name, {include_blank: false, :prompt=> 'Selecionar Subcategoria'}, { class: 'form-control select_item' } %>
</div>






</td>
<td>



<h2>Preço e Quantidade</h2>
<ul>
  <li>
    <%=p.label :quantity, 'Quantidade' %>&nbsp;
<%=p.number_field :quantity, :label=>"Quantidade" %>
  </li>
  </br>
<li>
  <%=p.label :price, 'Preço' %>&nbsp;

<%=p.text_field  :price, :label=>"Preço R$" %>
</li>
</ul>


</td>




    </tr>
  </table>





  <table>
    <tr>
      <td>
     <h2>Frete Grátis</h2>

  <%= content_tag(:span, nil, :class => 'sprite-icons-shipping') %>

 <ul>
   <li>
     <%= p.label :freeship, 'Não' %>
    

<%= p.radio_button  :freeship, false%>
          </li>

          <li>
              <%= p.label :freeship, 'Sim' %>

            <%= p.radio_button  :freeship, true%>
          </li>


   </td>




    </tr>
  </table>







<div class=" horizonal_list ">
  <h2>Compartilhe</h2>
  <p> Ao compartilhar seu item, será postado no seu facebook e(ou) twitter</p>
 
  <ul><li>
  <%= p.check_box :is_shared_on_facebook %>
  <span class="social-share-button-facebook"></span>
    </li>
    <li>
  &nbsp;&nbsp;&nbsp;
  <%= p.check_box :is_shared_on_twitter %>
  <span class="social-share-button-twitter"></span>
    </li>
  </ul>
</div>








<%=p.button "Próximo", :class=> "btn btn_big right margin_bottom" %>
<% end %>

 </div>


    </div>
  </div>
</div>

