<% title "Adicionar Produto" %>
<div class="box4">



<div class="flash_box">
<%=render 'shared/flash_messages' %>
<%=render 'shared/error_messages', :target=> @product %>
</div>



<div class="block margin_top">
  <%=form_for @product, :url => products_path,  :method => :post   do |p| %>

     
  <div class="subcontent_top">
<div class="grey_box"> 
<h2>Nome do seu produto</h2>
<%=p.text_field :name, :label=>"Nome"%>
   



  <table>
    <tr>
      <td>
        <h2>Selecione as categorias</h2>


        <%= p.select("block_id", options_for_select(@blocks_for_dropdown), {prompt: 'Selecionar Seção'}, {class: 'chained-select', :id => 'block'}) %>


      
  <ul>
         

    <li>
       <%= link_to "Roupas", "#roupas", :class=>"a" %>
  <div class="b" hidden="hidden">

 <%= p.select("gender_id", options_for_select(@genders_for_dropdown), {prompt: 'Selecionar Generos'}, {class: 'chained-select'}) %>
  

   <%= p.select("category_id",options_for_select(@categories_for_dropdown), {prompt: 'Selecionar Categoria'}, {class: 'chained-select'}) %>

   <%= p.select("subcategory_id",  options_for_select(@subcategories_for_dropdown), {prompt: 'Selecionar Subcategoris'}, {class: 'chained-select'}) %>

  
        
          </div>
        
        </li>
        
        
        
        
        <li>
      <%= link_to "Eletronicos", "#eletronicos", :class=>"a" %>

<div class="b" hidden="hidden">


  <%= p.select("eletronic_id", options_for_select(@eletronics_for_dropdown), {prompt: 'Selecionar Categoria'}, {class: 'chained-select', :id =>'eletronic'}) %>
</div>
        </li>
        <li>
 <%= link_to "Supplementos", "#supplementos", :class=>"a" %>


<div class="b" hidden="hidden">

<%= p.select("supplement_id",  options_for_select(@supplements_for_dropdown), {prompt: 'Selecionar Categoria'}, {class: 'chained-select'}) %>
    </div>
        

      </li>


      <li>
         <%= link_to "Esportes", "#esportes", :class=>"a" %>

        <div class="b" hidden="hidden">

<%= p.select("sport_id", options_for_select(@sports_for_dropdown), {prompt: 'Selecionar Categoria'}, {class: 'chained-select'}) %>
        </div>
      </li>




<li>
         <%= link_to "Autopeças", "#auto", :class=>"a" %>
<div class="b" hidden="hidden">

<%= p.select("auto_id", options_for_select(@autos_for_dropdown), {prompt: 'Selecionar Categoria'}, {class: 'chained-select'}) %>
 </div>

      </li>



<li>
         <%= link_to "Casa e Jardim", "#casa", :class=>"a" %>
<div class="b" hidden="hidden">

<%= p.select("house_id",options_for_select(@houses_for_dropdown), {prompt: 'Selecionar Categoria'}, {class: 'chained-select'}) %>
 </div>

      </li>



<li>
         <%= link_to "Alimentos", "#food", :class=>"a" %>
<div class="b" hidden="hidden">

<%= p.select("food_id", options_for_select(@foods_for_dropdown), {prompt: 'Selecionar Categoria'}, {class: 'chained-select'}) %>
 </div>

      </li>

   <li>
          <%= link_to "Papelaria e Artesatanos", "#arts", :class=>"a" %>

      <div class="b" hidden="hidden">

<%= select("art_id", options_for_select(@arts_for_dropdown), {prompt: 'Selecionar Categoria'}, {class: 'chained-select'}) %>
 </div>

      </li>


  <li>
          <%= link_to "Música e Livros", "#books", :class=>"a" %>

      <div class="b" hidden="hidden">

<%= p.select("book_id",  options_for_select(@books_for_dropdown), {prompt: 'Selecionar Categoria'}, {class: 'chained-select'}) %>
 </div>

      </li>
      <li>
  <%= link_to "Ferramentas", "#ferramentas", :class=>"a" %>
<div class="b" hidden="hidden">


       <%= p.select("tool_id",options_for_select(@tools_for_dropdown), {prompt: 'Selecionar Categoria'}, {class: 'chained-select'}) %>
 </div>

      </li>

   



 




<li>
  <%= link_to "Virtuais", "#virtuais", :class=>"a" %>
  <div class="b" hidden="hidden">


<%= p.select("virtual_id", options_for_select(@virtuals_for_dropdown), {prompt: 'Selecionar Categoria'}, {class: 'chained-select'}) %>
 </div>

      </li>




  </ul>





</div>
























</td>
<td>



<h2>Preço e Quantidade</h2>
<ul>
  <li>
    <%=p.label :quantity, 'Quantidade' %>&nbsp;
<%=p.number_field :quantity, :label=>"Quantidade" %>
  </li>
  </br>
<li>
  <%=p.label :price, 'Preço' %>&nbsp;

<%=p.text_field  :price, :label=>"Preço R$" %>
</li>
</ul>


</td>




    </tr>
  </table>





  <table>
    <tr>
      <td>
     <h2>Frete Grátis</h2>

  <%= content_tag(:span, nil, :class => 'sprite-icons-shipping') %>

 <ul>
   <li>
     <%= p.label :freeship, 'Não' %>
    

<%= p.radio_button  :freeship, false%>
          </li>

          <li>
              <%= p.label :freeship, 'Sim' %>

            <%= p.radio_button  :freeship, true%>
          </li>


   </td>




    </tr>
  </table>







<div class=" horizonal_list ">
  <h2>Compartilhe</h2>
  <p> Ao compartilhar seu item, será postado no seu facebook e(ou) twitter</p>
 
  <ul><li>
  <%= p.check_box :is_shared_on_facebook %>
  <span class="social-share-button-facebook"></span>
    </li>
    <li>
  &nbsp;&nbsp;&nbsp;
  <%= p.check_box :is_shared_on_twitter %>
  <span class="social-share-button-twitter"></span>
    </li>
  </ul>
</div>








<%=p.button "Próximo", :class=> "btn btn_big right margin_bottom" %>
<% end %>

 </div>


    </div>
  </div>
</div>

