<% title "Adicionar Produto" %>
<div class="box4">
  <div class="breadcrumb margin_top">
    <strong>Nome e Descrição</strong>
    &gt; Postar
  </div>

    <div class="flash_box">
  <%= render 'shared/flash_messages' %>
  <%= render 'shared/error_messages', :target => @product %>
</div>


  <%= form_for @product, :html => {:multipart => true}  do |p| %>
  <div class="margin_top">
    <h1>Adicionar Produto</h1>
<div class="content">



  <div class="subcontent_top">


      <ul>
        <li>
            <h4>Nome do seu produto</h4>
          <%= p.text_field  :name, :label =>"Nome"%>
        </li>
        <li>
  <h4>Descreva seu produto</h4>
          <div id="notes-bar"></div>

          <%= p.text_area :detail,  :id => 'notes', :label =>"Descrição"%>
          <div id="notes-preview"></div>

        </li>
      </ul>

  </div>


    <div class="subcontent">
      <h4>Estilos</h4>
      <p class="tip">Os estilos facilitam o google e bing a achar de seu produto com mais facilidade
      </p>

      <%= p.text_field :tag_list,
                   :id => "product_tags",
                   "data-pre" => @product.tags.map(&:attributes).to_json %>
    </div>


<div class="subcontent">
    <h4>Selecione as categorias</h4>


      <ul>
        <li>

 <b>Genero</b>&nbsp;
  <%=  p.collection_select :gender_id, Gender.all, :id, :gender %>
        </li>

        <li>

 <b>Categoria</b>&nbsp;
  <%=  p.collection_select :category_id, Category.all, :id, :name %>


        </li>




        <li>
 <b>Subcategoria</b>&nbsp;

  <%=  p.collection_select :subcategory_id, Subcategory.all, :id, :name %>
        </li>
      </ul>


  </div>





  <div class="subcontent">


                 <h4>Preço e Quantidade</h4>
<ul>
  <li>
                    <%= p.number_field :quantity, :label =>"Quantidade" %>
                  </li>
                  <li>

                    <%= p.text_field :price, :label =>"Preço R$" %>


</li>
</ul>



  </div>


</div>

</div>
<%= p.button  "Próximo", :class => "btn btn_big" %>

<% end %>
</div>
