<% title "Adicionar Produto" %>
<div class="box4">
  <div class="breadcrumb margin_top">
    <strong>Nome e Descrição</strong>
    &gt; Postar
  </div>

    <div class="flash_box">
  <%= render 'shared/flash_messages' %>
  <%= render 'shared/error_messages', :target => @product %>
</div>


  <%= form_for @product, :html => {:multipart => true}  do |p| %>
  <div class="block margin_top">
    <h1>Adicionar Produto</h1>
<div class="content">



  <div class="subcontent_top">


   
            <h4>Nome do seu produto</h4>
          <%= p.text_field  :name, :label =>"Nome"%>
       
  

  </div>


 


<div class="subcontent">
    <h4>Selecione as categorias</h4>


      <ul>
        <li>

 <b>Genero</b>&nbsp;
  <%=  p.collection_select :gender_id, Gender.all, :id, :gender %>
        </li>

        <li>

 <b>Categoria</b>&nbsp;
  <%=  p.collection_select :category_id, Category.all, :id, :name %>


        </li>




        <li>
 <b>Subcategoria</b>&nbsp;

  <%=  p.collection_select :subcategory_id, Subcategory.all, :id, :name %>
        </li>
      </ul>


  </div>





  <div class="subcontent">


                 <h4>Preço e Quantidade</h4>
<ul>
  <li>
                    <%= p.number_field :quantity, :label =>"Quantidade" %>
                  </li>
                  <li>

                    <%= p.text_field :price, :label =>"Preço R$" %>


</li>
</ul>



  </div>


</div>

</div>
<%= p.button  "Próximo", :class => "btn btn_big" %>

<% end %>
</div>
