<% title "Adicionar Produto" %>
<div class="box4">


<div class="breadcrumb margin_top">
<strong>Nome e Descrição</strong>
&gt; Postar
</div>
<div class="flash_box">
<%=render 'shared/flash_messages' %>
<%=render 'shared/error_messages', :target=> @product %>
</div>
<div class="block margin_top">
<h1>Adicionar Produto</h1>
<hr class="line"></hr>
<div class="content">

<div class="subcontent_top">
<h4>Nome do seu produto</h4>
<%=p.text_field :name, :label=>"Nome"%>
</div>
<div class="subcontent">
<h4>Selecione as categorias</h4>
<div class="form-group">
<%=p.label :gender_id, 'Genero' %>&nbsp;
<%=dynamic_collection_select :product, :gender_id, :category, Gender.all, :id, :gender, { include_blank: false, submit_with_form: true, :prompt=> 'Selecionar Genero' }, { class: 'form-control' } %>
</div>
<div class="form-group">
<%=p.label :category_id, 'Categoria' %>&nbsp;
<%=dynamic_collection_select :product, :category_id, :subcategory, [], :id, :name, { include_blank: false, submit_with_form: true, :prompt=> 'Selecionar Categoria' }, { class: 'form-control' } %>
</div>
<div class="form-group">
<%=p.label :subcategory_id, 'Subcategoria' %>&nbsp;
<%=p.collection_select :subcategory_id, [], :id, :name, {include_blank: false, :prompt=> 'Selecionar Subcategoria'}, { class: 'form-control' } %>
</div>
</div>
<div class="subcontent">
<h4>Preço e Quantidade</h4>
<ul>
<li>
<%=p.number_field :quantity, :label=>"Quantidade" %>
</li>
<li>
<%=p.text_field :price, :label=>"Preço R$" %>
</li>
</ul>
</div>
</div>
</div>
<%=p.button "Próximo", :class=> "btn btn_big" %>
<% end %>


  <div class="breadcrumb margin_top">
    <strong>Nome e Descrição</strong>
    &gt; Postar
  </div>
  <div class="flash_box">
    <%= render 'shared/flash_messages' %>
    <%= render 'shared/error_messages', :target => @product %>
  </div>
  <div class="block margin_top">
    <h1>Adicionar Produto</h1>
    <div class="content">
      <%= form_for @product do |p| %>
          <div class="subcontent_top">
            <h4>Nome do seu produto</h4>
            <%= p.text_field :name, :label => "Nome" %>
          </div>
          <div class="subcontent">
            <h4>Selecione as categorias</h4>
            <div class="form-group">
              <%= p.label :gender_id, 'Genero' %>&nbsp;
              <%= dynamic_collection_select :product, :gender_id, :category, Gender.all, :id, :gender, {include_blank: false, submit_with_form: true, :prompt => 'Selecionar Genero'}, {class: 'form-control'} %>
            </div>
            <div class="form-group">
              <%= p.label :category_id, 'Categoria' %>&nbsp;
              <%= dynamic_collection_select :product, :category_id, :subcategory, [], :id, :name, {include_blank: false, submit_with_form: true, :prompt => 'Selecionar Categoria'}, {class: 'form-control'} %>
            </div>
            <div class="form-group">
              <%= p.label :subcategory_id, 'Subcategoria' %>&nbsp;
              <%= p.collection_select :subcategory_id, [], :id, :name, {include_blank: false, :prompt => 'Selecionar Subcategoria'}, {class: 'form-control'} %>
            </div>
          </div>
          <div class="subcontent">
            <h4>Preço e Quantidade</h4>
            <ul>
              <li>
                <%= p.number_field :quantity, :label => "Quantidade" %>
              </li>
              <li>
                <%= p.text_field :price, :label => "Preço R$" %>
              </li>
            </ul>
          </div>
          <%= p.button "Próximo", :class => "btn btn_big" %>
      <% end %>
    </div>
  </div>
</div>
