<% title @product.name%>
<%description @product.name  %>
<% keywords  @product.tag_list %>
<div class="container">
  <div class="box1"
    <% breadcrumb :products, @products %>

    <div class="margin_top">
      <%= render 'shared/flash_messages' %>

    </div>
  </div>

  <!-- Imagens do product   -->


  <div class="box9">

    <div id="placeholder" >
      <% if @product.images.first.present? %>
         <div id="big_img" > 
      <a href="">
    
         <%= image_tag @product.images.first.ifoto.url(:big).to_s, :id => 'mainImage', :data => { :img => 'img'} %>
        </a>
        </div>

                <%= render_showcase %>
      <% end %>
    </div>

  </div>

  <div class="box9  white">
    <%= form_tag  add_to_carts_path(@product),  :method => :post  do |f| %>
      <div class"content">


        <div>
          <h1 id="item_name"><%= @product.name %></h1>
        </div>





 <% if @product.vitrine.present?  %>

        <div class="status_line">
          <ul>
            <li>   <%= content_tag(:span, nil, :class =>"sprite-icons-small_vitrine") %>
            <%=link_to @product.vitrine.name, vitrine_path(@product.vitrine),  :title => "Nome" %>
            </li>
            <li>
              <% if @product.vitrine.user.online? == true %>
                <span class="status_online"> Online </span>
              <% else %>
                <span class="status_offline"> Offline </span>
              <% end %>
            </li>
          </ul>
        </div>
 <% end %>


        <!-- Fim-->
  <hr class="line margin_top"></hr>
        <!--Descrição   -->
        <ul class="detail_price">


          <li>
          

                         <h1 ><%= number_to_currency(@product.price, :unit => "R$") %></h1>
          </li>


          <li> <%= @product.vitrine.invoices.count %> vendidos </li>


          <% if  @product.vitrine.policy.installment.present? %>
            <li >
              <span class="greennow">
                
                 <%= content_tag(:span, nil, :class => 'sprite-icons-card') %>

                
                <%= @product.vitrine.policy.installment %>x de
           <%=  number_to_currency(@product.price.to_f / @product.vitrine.policy.pinstallment,  :unit => "R$") %>
          
           
           
           
         

          
          sem juros</span>
        
                   
          
          </li>



        <% end %>







<% if @product.freeship == true %>
  <li>
       <span class="greennow">
      <%= content_tag(:span, nil, :class => 'sprite-icons-truck_product') %>
    
    Frete Grátis</span>

  </li>
<% end %>

          <li>

            <span  class="rednow">Apenas  <strong><%= @product.quantity%></strong>
              Disponível

            </span>
          </li>





          <li>


         
              <div id="rating_line">

                <%=link_to  probacks_product_path(:id=> @product.id)  do %>

                  <div class="feedback_stars_rating" data-read-only="true" data-score="<%= @product.average_rating  %>">
                    <span class="feedCounter"><%= @product.total_feedbacks %>
                    Avaliações</span>
                  </div>

                <% end %>
              </div>

          
          </li>



          <span class="span">Código:</span>
          <b>
            <%= @product.code %></b>
          </li>
          <li>
            Site:
            
 <% if @product.vitrine.present?  %>

            <% if @product.vitrine.marketing.url%>
              <%=link_to  "#{@product.vitrine.marketing.url}", url_with_protocol(@product.vitrine.marketing.url), :target => '_blank' %>
            <% end %>
              <% end %>

          </li>




          <li>
            <ul class="social_media">
              <li>

          <%if @product.vitrine.marketing.facebook%>

            <%=link_to "https://www.facebook.com/#{@product.vitrine.marketing.facebook}" do %>
              <%=content_tag(:span, nil, :class=>"sprite-icons-small_facebook") %>
            <% end %>
          <% end %>



        </li>



        <li>
          <%if @product.vitrine.marketing.twitter %>

            <%=link_to "https://www.twitter.com/#{@product.vitrine.marketing.twitter}" do %>
              <%=content_tag(:span, nil, :class=>"sprite-icons-small_twitter") %>
            <% end %>
          <% end %>



        </li>

  <li>
          <%if @product.vitrine.marketing.youtube %>

            <%=link_to "https://www.youtube.com/#{@product.vitrine.marketing.youtube}" do %>
              <%=content_tag(:span, nil, :class=>"sprite-icons-small_youtube") %>
            <% end %>
          <% end %>



        </li>




  <li>
          <%if @product.vitrine.marketing.instagram %>

            <%=link_to "https://www.instagram.com/#{@product.vitrine.marketing.instagram}" do %>
              <%=content_tag(:span, nil, :class=>"sprite-icons-small_instagram") %>
            <% end %>
          <% end %>
  </li>

            </ul>
        </li>





          <li class="greennow">Visualizado por <b><%=@product.unique_impression_count %></b> pessoas</li>




        </ul>


      </div>

      <div class="content">
        <ul>
          <li>
        <%= link_to  "https://www.paypal.com/br/webapps/mpp/paypal-safety-and-security"  do %>

          <%= content_tag(:span, nil, :class => 'sprite-icons-paypal_protect') %>

        <% end %>
          </li>
          <li>
        
            <%= link_to "Saiba mais", "https://www.paypal.com/br/webapps/mpp/paypal-safety-and-security" %>
          </li>
        </ul>

 <ul>
      <li><%=content_tag(:span, nil, :class =>"sprite-icons-criar-check")%>Reembolso Total: se você não receber seu pedido</li>
    </ul>
    <ul>
      <li><%=content_tag(:span, nil, :class =>"sprite-icons-criar-check")%>Reembolso Total: se o produto recebido for diferente do descrito</li>
    </ul>
    <ul>




      </div>


       

                <%= social_share_button_tag(truncate(@product.name, :length => 20), :url => url_for(:action => :show, :id => @product.id, :only_path => false))  %>


  </div>


  <div class="box10">
<div id="divider"></div>
  <div id="shadow"></div>

    <div class="block">

      <div class="tip_box wrapper div_select ">

  






        <ul>
          <li>
 <%= label_tag "Preço:" %>
            <h3 id="item_price"><%= number_to_currency(@product.price, :unit => "R$") %></h3>
         
          
          </li>



          <li>


                      </li>
        </ul>

        <div class="left_info item_information">
          <ul>
            <li >
              <%= label_tag "Quantidade:" %>
              <%= select_tag  :quantity, options_for_select((1..@product.quantity).collect{ |q| [q, q]})%>

            </li>

            <% if @product.gender.present? %>
            <li >
              <%= label_tag "Cor:" %>

              <%= select_tag :color_id, options_for_select(@colors_for_dropdown.unshift(['Selecionar', nil]))%>



              <span>


            </li>
            <li>
              <%= label_tag "Tamanho:" %>

              <%= select_tag :size_id, options_for_select(@sizes_for_dropdown.unshift(['Selecionar', nil]))%>

            </li>
          <%end %>

          </ul>



        </div>




        <div class="horizontal_buttons">
          <ul>


            <% if current_user %>
              <%if @product.buyable?(current_user) %>





                <li>

                  <div class="add_to_cart">

                    <%= submit_tag("Adicionar a sacola", :class => 'btn_orange btn_big', :'data-submit-form' => true) do %>
                      <%= content_tag(:i, nil, :class=>"add_to_cart_icon")  %>
                    <%end %>

                  </div>

                <%end %>

              <%end %>

                </li>

          </ul>

        </div>
      <%end %>



      </div>
                    
    </div>
    <div>
        <p><%=  @pac %></p>
      <p><%= @sedex  %></p>

    <%= form_tag  calculate_ship_path,  :method => :get do |f| %>




      <%= text_field_tag :porra %>
      <%= submit_tag "Checar",  :class => "btn btn_big margin_bottom" %>


    <% end %>
    </div>
    <!-- Fim-->
  </div>



  <div class="box4">
    <div class ="block">

      <%= bettertabs :simpletabs do |tab| %>
        <%= tab.link :product_show, 'Resumo' do %>
          <%= render 'product_show' %>
        <% end %>
        <%= tab.link :feedbacks, "Avaliações" "(#{@product.feedbacks.size})"  do %>
          <%= render 'probacks' %>
        <% end %>
        <%if current_user %>
        <%= tab.link :message, 'Mensagem' do %>
          <%=render 'message_box' %>
        <% end %>
      <% end %>
      <% end %>
    </div>



  </div>



  <div class="box11">
    <div class="content">
      <h2>Seções
      </h2>
      <span class="link_tag">

        <ul>

          <% @product.vitrine.tag_list.take(22).each do |tag| %>
            <li>
              <%= raw link_to tag.name, tags_path(:tag => tag.name, :vitrine => @product.vitrine.id) %>
            </li>

          <% end %>
        </ul>
      </span>


<% if @product.vitrine.present?  %>


      <% unless @product.vitrine.user.city.blank? %>
        <%=image_tag "http://maps.google.com/maps/api/staticmap?size=190x400&sensor=false&zoom=16&markers=#{@product.vitrine.address}" %>
      <% end %>
          <% end %>


    </div>

  </div>
</div>


