<% title  "Visualisações" %>
<%= render "shared/vitrine_menu" %>


<script language="javascript">
  // Chart draw method
  var chart;
  var week_stats = <%= @week_stats.to_json.html_safe %>;
  var month_stats = <%= @month_stats.to_json.html_safe %>;
  var draw_chart = function () {
    chart = Morris.Line({
      element: 'visitors_chart',
      data: week_stats,
      xkey: 'day',
      ykeys: ['count'],
      labels: ['Visitantes'],
  lineColors: ['#e4d226'],
      pointFillColors: ['#c7b612']
    });
  };

  var chart_options = function () {
    chart.setData($(this).val() == 0
      ? week_stats
      : month_stats);
  };


</script>












<div class="box5">

  <div class="block  margin_top">
    <div class="flash_box">
      <%= render 'shared/flash_messages' %>
    </div>


    <div class="content">
    <h1>Visualizações</h1>
  <table class="zebra_branca">
          <tbody>
              <tr>
                  <td>
 <%= link_to  product_path(@product.id) do %>
      <%if @product.images.present? %>
    <%= image_tag @product.images.first.ifoto.url(:small).to_s %>
    <% end %>
       <% end %>
                  </td>
                  <td>
<div id="visitors_chart_options">
            <strong>&nbsp;Período:</strong>
            <select id="chart_options" name="chart_options">
              <option value="0">Semana Passada</option>
              <option value="1">Mês Passado</option>
            </select>
            <br/><br/>

</div>

                  </td>
              </tr>
          </tbody>
  </table>
</div>
      <div class="subcontent">
        <p class="tip">A visualisação lhe ajudará a compreender e posicionar melhor seu produto</p>

        <b><%=link_to @product.name, product_path(@product),  :title => "Nome" %></b>

        <!-- CHART CONTAINER  -->
        <div id="visitors_chart"></div>
        <!-- View options  -->
        
      </div>

    
    </div>
  </div>
  <!-- PAGINATION-->
</div>


