<div class="square_box">

<h2>Endereço</h2>

<div class="subcontent">
<p class="tip">Adicione o seu endereço de entrega para facilitar a vida do vendedor</p>
<%=form_for @user, address_user_path, :method=> :put do |ad| %>

   <ul class="address_list">
    <li> <%= label_tag :address, "Endereço", :class=>"label" %><%= ad.text_field  :address, :label=> "Endereço" %></li>
  <li> <%= label_tag :neighborhood, "Bairro", :class=>"label" %><%=ad.text_field  :neighborhood, :label=> "Bairro"%></li>

 <li> <%= label_tag :postal_code, "CEP", :class=>"label" %><%=ad.text_field  :postal_code, :label=> "CEP"%></li>

 <li> <%= label_tag :address_supplement, "Complemento", :class=>"label" %><%=ad.text_area  :address_supplement, :as=> :text, :label => "Complemento" %></li>
  
 <li>
<div class="form-group">
  <%= ad.label :state_id, 'Estado' %>&nbsp;
  <%= dynamic_collection_select :user, :state_id, :city, State.all, :id, :code,
{ include_blank: false, submit_with_form: true, :prompt => 'Selecionar Estado'  }, { class: 'form-control' } %>
</div>
 </li>

 <li>

<div class="form-group">
  <%= ad.label :city_id, 'Cidade' %>&nbsp;
  <%= ad.collection_select :city_id, [], :name,  {include_blank: false, :prompt => 'Selecionar Cidade'}, { class: 'form-control' } %>
</div>
 </li>
</ul>

<%=ad.submit"Salvar",  :class => "btn" %>
<% end %>
</div>
</div>
