<ul id="menu" class="nav">

<% @genders.each do |gender| %>

  <li class="gender">
    <%= link_to  content_tag(:span, gender.gender),  gender_path(:id => gender.id), :class => "tab" %>
 <div class="">

 <% gender.categories.each do |category| %>
<div class="">

   <h3 title="<%=category.name %>"><%= link_to category.name, category_path(:id => category.id )  %></h3>

   <% category.subcategories.each do |subcategory| %>
     <ul>
       <li title="<%=subcategory.name %>"><%= link_to subcategory.name, subcategory_path(:id => subcategory.id ) %></li>

          </ul>

        <% end %>
        </div>
 <% end %>

</div>
</li>
<% end %>

<!-- Fim -->

  </ul>







          <!-- Fim -->
