<div id="footer">

  <div class="inner_footer">

    <div class="footer-copy">
      <% cache "logo_bottom" do %>
      <%= link_to root_url do %>
      <%= content_tag(:span, nil, :id =>"footer-logo") %>
      <% end %>
      <% end %>
      <p>Vitrineonline &copy; 2015
      </p>
    </div>

    <ul class="footer-links">
      <li>
        <h1>Serviço ao cliente</h1>
      </li>
      <li><%= link_to 'Termos e Condições', page_path('termos') %></li>
      <li><%= link_to 'Privacidade', page_path('privacidade')%></li>
      <li><%= link_to 'Contato', contacts_path  %></li>

      <li><%= link_to 'Sobre', page_path('sobre')%></li>

      <li>
        <%= link_to "Avaliação",  page_path("avaliacao")%>
      </li>
      <li>
        <%= link_to "Segurança",  page_path("seguranca")%>
      </li>
      <li class="invisible"><%= link_to 'Oportunidades', page_path('oportunidades')%></li>
      <li>
        <%= link_to  "https://www.paypal.com/br"  do %>

        <%= content_tag(:span, nil, :class => 'paypal_logo') %>
        <% end %>
      </li>

    </ul>

    <ul class="footer-links">
      <li>
        <h1>Explore a Vitrineonline</h1>
      </li>
      <li><%= link_to 'Todos os Departamentos', page_path('termos') %></li>
      <li><%= link_to 'Mapa do Site', page_path('privacidade')%></li>

    </ul>

    <ul class="footer-links">
      <li>
        <h1>Conecte-se com Nós</h1>
      </li>
      <li><%= link_to 'face link', page_path('termos') %></li>
      <li><%= link_to 'twitter link', page_path('privacidade')%></li>
      <li><%= link_to 'youtube link', page_path('privacidade')%></li>
      <li><%= link_to 'instagram link', page_path('privacidade')%></li>

    </ul>

    <div id="security_footer">

      <%= link_to  root_url  do %>

      <%= content_tag(:span, nil, :class => 'comodo') %>
      <% end %>

    </div>
  </div>

</div>
