<div id="footer">

  <div class="inner_footer">

    <div class="footer-copy">
      <% cache "logo_bottom" do %>
      <%= link_to root_url do %>
      <%= content_tag(:span, nil, :id =>"footer-logo") %>
      <% end %>
      <% end %>
      <p>Vitrineonline &copy; 2016
      </p>
    </div>

    <ul class="footer-links">
      <li>
        <h2>Serviço ao cliente</h2>
      </li>
      <li><%= link_to 'Termos e Condições', page_path('termos') %></li>
      <li><%= link_to 'Privacidade', page_path('privacidade')%></li>
      <li><%= link_to 'Contato', contacts_path  %></li>

      <li><%= link_to 'Sobre', page_path('sobre')%></li>

      <li>
        <%= link_to "Avaliação",  page_path("avaliacao")%>
      </li>
      <li>
        <%= link_to "Segurança",  page_path("seguranca")%>
      </li>
      <li class="invisible"><%= link_to 'Oportunidades', page_path('oportunidades')%></li>
      <li>
        <%= link_to  "https://www.paypal.com/br"  do %>

        <%= content_tag(:span, nil, :class => 'paypal_logo') %>
        <% end %>
      </li>

    </ul>

    <ul class="footer-links">
      <li>
        <h2>Explore a Vitrineonline</h2>
      </li>
      <li><%= link_to 'Todos os Departamentos', page_path('departamentos') %></li>
      <li><%= link_to 'Mapa do Site', page_path('mapa')%></li>

    </ul>

    <ul class="footer-links">
      <li>
        <h2>Conecte-se com Nós</h2>
      </li>
      <li><%= link_to 'face link',"https://www.faceboook.com/vitrineonlinevitrineonline" %></li>
      <li><%= link_to 'twitter link', "https://www.twitter.com/vitrineonlinevitrineonline"%></li>
      <li><%= link_to 'youtube link', "https://www.youtube.com/vitrineonlinevitrineonline"%></li>
      <li><%= link_to 'instagram link', "https://www.instagram.com/vitrineonlinevitrineonline"%></li>

    </ul>

    <div id="security_footer">

      <%= link_to  root_url  do %>

      <%= content_tag(:span, nil, :class => 'omodo') %>
      <% end %>

    </div>
  </div>

</div>
