
  <div class=inner_bar>



    <% cache "logo" do %>
    <div id="logo">
      <%= link_to root_url do %>
      <%= content_tag(:span, nil, :class =>'logo') %>
      <% end %>
    </div>
    <% end %>


    <%= render "layouts/shop_cart" %>

    <%=render  :partial=>"layouts/links_topbar" %>

    </div>




    <div class="inner_icons">


      <div class="menu-trigger">Clique aqui</div>


      <div class="mobile_nav">

          <% if current_user %>
          <%=render :partial=> "layouts/user_nav" %>
          <%end %>

</div>

      </div>





    <div class="inner_search">
        <% cache "busca" do %>
        <%= render  :partial=> "layouts/search" %>
        <% end %>
      </div>
