<div class="blue_bar">
<div class=inner_bar>
<% cache "logo" do %>
<div id="logo">
<%=link_to root_path do %>
<%=content_tag(:span, nil, :class=>'sprite-icons-logo') %>
<% end %>
</div>
<% end %>
<%=render :partial=>"layouts/links_topbar" %>


<%=render "layouts/shop_cart" %>

</div>
</div>

<div class="mobile_search">
<%=render :partial=> "layouts/search" %>
<div class="link_mob">
<%=link_to 'Categorias', departments_path%>
</div>

</div>



<div class="mobile_nav">
<% if current_user %>
<%=render :partial=> "layouts/user_nav" %>
<%end %>


<% if current_user && current_vitrine %>
<div class="sell_button">
<%=button_to "Vender", new_product_path, :class=> 'btn_orange btn_small', :method => "get"
%>
</div>
<% end %>

</div>



