<div class="blue_bar">
<div class=inner_bar>
<% cache "logo" do %>
<div id="logo">
<%=link_to root_path do %>
<%=content_tag(:span, nil, :class=>'sprite-icons-logo') %>
<% end %>
</div>
<% end %>

<%=render :partial=> "layouts/search" %>
<%=render :partial=>"layouts/links_topbar" %>
<%=render "layouts/shop_cart" %>

</div>
</div>
<div class="icons_bar">
<div class="inner_tab">

<%=render "layouts/drop" %>

<div class="desktop_nav">
<% if current_user %>
<%=render :partial=> "layouts/user_nav" %>
<%end %>
</div>
</div>
</div>

