
 <% if current_user %>


<div class="log_topbar_after">







  <ul>
         <li class="top_avatar" title="<%=current_user.first_name %>">
        <%=link_to user_path(current_user) do %>
          Olá, <%=current_user.first_name %>
      <%end%>
      <span></span>

      </li>


      <li >

        <a href="#" data-jq-dropdown="#jq-dropdown-1">Conta</a>
      </li>

      <div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-anchor-right jq-dropdown-tip">
        <ul class="jq-dropdown-menu">
           
              
        <li>
          <%=link_to user_path(current_user) do %>
            <%= "Perfil"%>
          <%end%>

        </li>


        <li><%=link_to "Conta", edit_user_path(current_user), :title=> "Conta" %>
      </li>
      <li><%=link_to 'Ajuda?', page_path("comprar")%></li>
  <li><%=link_to 'Proteção ao comprador', page_path("comprar")%></li>



<li class="jq-dropdown-divider"></li> 


      <li><%=link_to 'Sair', session_path(current_user), method: :delete %>
    </li>
        </ul>

      </div>
  </ul>
</div>


    <% else %>
<div class="log_topbar_before">

  <ul>
      
      <li>
        <%=button_to 'Abrir Conta', signup_path, :class=> "btn_green",method: :get %>
        <span></span>
      </li>
      <li>
        <%=button_to 'Entrar', login_path, :class=> "btn_orange",method: :get %>
        <span></span>
      </li>
     </ul>
</div>
 <% end %>

