<div id="shopcart">
  <% if current_user and current_user.cart %>

  <%= link_to   carts_path do  %>

  <%= content_tag( :i,nil, :class=>"shopcart_button")  %>
  <%= content_tag(:span, "Sacola", :class=>"shopcart_link") %>
  <%= content_tag(:span, "#{order_count}", :class=>"shopcart_counter") %>
  <% end %>

  <% else %>
  <%= link_to   carts_path do %>
  <%= content_tag( :i,nil, :class=>"shopcart_button")  %>
  <%= content_tag(:span, "Sacola", :class=>"shopcart_link") %>

  <% end %>
  <% end %>
</div>
