<div id="user_nav">
<div class="user_nav_list">
<ul class="user_nav">
<li>
<% if new_messages? %>
<%=content_tag(:span, "#{num_new_messages}", :class=> "alert" ) %>
<%=link_to( conversations_path, :title=> "Mensagem" ) do %>
<%=content_tag( :i,nil, :class=> "sprite-icons-message2") %>
<%end%>
<% else %>
<%=link_to( conversations_path, :id=> "menu-messages", :title => "Mensagem" ) do %>
<%=content_tag( :i,nil, :class=> "sprite-icons-message2") %>
<%end%>
<% end %>
</li>
<li>
<% if new_feedback? %>
<%=content_tag(:span, "#{num_new_feedback}", :class=> "alert") %>
<%=link_to( awaiting_feedbacks_path, :title=> "Avaliações" ) do %>
<%=content_tag( :i,nil, :class=> "sprite-icons-feedback2") %>
<%end%>
<% else %>
<%=link_to( completed_feedbacks_path, :title=> "Avaliações" ) do %>
<%=content_tag( :i,nil, :class=> "sprite-icons-feedback2") %>
<%end%>
<% end %>
</li>
<li>
<%=link_to('/orders/purchased?status=paid', :title=> "Pedidos") do %>
<%=content_tag( :i,nil, :class=> "sprite-icons-curtidas2") %>
<%end%>
</li>
<li>
<% if current_vitrine %>
<%=link_to( edit_vitrine_path(current_vitrine), :title=> "Vitrine") do %>
<%=content_tag( :i,nil, :class=> "sprite-icons-vitrine2") %>
<%end%>
<% else %>
<%=link_to new_vitrine_path,:title=> "Criar Vitrine" do %>
<%=content_tag( :i,nil, :class=> "sprite-icons-vitrine2") %>
<%end%>
<% end %>
</li>
</ul>
</div>
</div>
<% if current_vitrine %>
<div class="sell_button">
<%=button_to "Vender", new_product_path, :class=> 'btn btn_small', :method => "get"
%>
</div>
<% end %>
