
<div class="box1">

  <strong>Passo 2</strong>
  &gt; Postar
</div>
<div class="box5">
  <div class="flash_box">
    <%=render 'shared/flash_messages' %>
    <%=render 'shared/error_messages', :target=> @product %>
  </div>


  <%= form_for @product, method: :put, url: wizard_path,  :html => {:multipart => true} do |p| %>
 <%= p.submit 'Vender', :class =>"btn btn_big" %>

    <div class="block">




<div data-tabs class="tabsx">
    <p>
        <span><a data-tab href="#tab1">Imagem e descrição</a></span>
        <span><a data-tab href="#tab2">Estilos e Marcas</a></span>
        <span><a data-tab href="#tab3">Tamanho e Cor</a></span>
        <span><a data-tab href="#tab3">Material e Condição</a></span>

    </p>
</div>

<div data-tabs-content>
    <div data-tabs-pane class="tabs-pane active" id="tab1">
  <h1>Imagens e especifiações</h1>

        <div class="subcontent">






          <h2>Fotos</h2>
          <%= image_tag @product.images.first.ifoto.url(:thumb) unless @product.images.blank? %>

          <p class="tip">Adicione no mínimo 2 fotos</p>
          <p class="tip">
          Se você tem dúvida de como tirar suas fotos acesse o link
          <%= link_to 'Fotografia', page_path('fotografia') %></p>

          <ul class="image_info">
            <li class="tip">JPG, GIF ou PNG, tamanho máximo: 2MB</li>
            <li class="tip">As imagens serão redimencionandas para 245 x 135 de altura</li>
          </ul>

          <div class="dropzone" id="images" data-update-url="<%= product_path(@product) + '?authenticity_token=' + form_authenticity_token %>"></div>


        </div>

                <h2>Descrição</h2> 
          <div class="subcontent">



            <p class="tip">Descreva seu item</p>
            <p clas="tip">
            Adicione apenas as medidas pertinente ao produto OBS: Todas as medidas serão em Centímetros Comprimento: 67,5cm
            </p>



            <p clas="tip">Para inserir emojis no texto acesse
            <%=link_to nil, "http://www.emoji-cheat-sheet.com" %></p>
            <div class="wmd-panel">
              <div id="wmd-button-bar"></div>

              <%=p.text_area :detail, :id=> "wmd-input", :class=> "wmd-input", :placeholder => "Descrição"%>


              <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>
          </div>
        

       
    </div>
    <div data-tabs-pane class="tabs-pane" id="tab2">
    <h2>Estilos</h2>

          <div class="subcontent">
            <p class="tip">Os estilos facilitam o google e bing a achar de seu produto com mais facilidade
            </p>
            <%= p.select :tag_list, options_for_tags(@product.vitrine.tag_list), {}, { id: 'product_tags', multiple: true } %>

                </div>

                <h2>Marca</h2>

          <div class="subcontent">

            <%=p.label :brand_id, 'Outras Marcas' %>&nbsp; 
            <%=  p.collection_select(:brand_id, Brand.all, :id, :name, {},{ :class=> 'brand_list', :multiple => false}) %>
        </div>


            </div>
    <div data-tabs-pane class="tabs-pane" id="tab3">
        <p><strong>Seasons</strong></p>
        <p>Winter, summer, spring or fall?</p>
    </div>
</div>		




     












                 <% end %>

           </div>

</div>
