<strong>Nome e Descrição</strong>
&gt; Postar
<%= form_for @product, method: :put, url: wizard_path do |p| %>

<div class="block">
  <h4>Fotos</h4>
  <div class="content">
    <div class="product_img">
      <!-- Fotos  -->
      <ul>
        <li>
          <div id="upload-f1-container"></div>
        </li>
        <li>
          <div id="upload-f2-container"></div>
        </li>
        <li>
          <div id="upload-f3-container"></div>
        </li>
        <li>
          <div id="upload-f4-container"></div>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Fim -->
<!--Nome, Descrição e palavras chave -->

<div class="block">
  <h4>Especificação</h4>
  <div class="content">
    <span>
      <b>Tamanho</b>
    </span>
    <%= hidden_field_tag "product[size_ids][]", nil %>
    <% Size.order(:size).each do |size| %>
    <%= check_box_tag "product[size_ids][]", size.id, @product.size_ids.include?(size.id), id: dom_id(size) %>
    <%= label_tag dom_id(size), size.size %><br>
    <% end %>
    <span>
      <b>Cor</b>
    </span>
    <%= hidden_field_tag "product[color_ids][]", nil %>
    <% Color.all.each do |color| %>
    <%= check_box_tag "product[color_ids][]", color.id, @product.color_ids.include?(color.id), id: dom_id(color) %>
    <%= label_tag dom_id(color), color.name %><br>
    <% end %>
    <ul>
      <b>Material</b>&nbsp;
      <%=  p.collection_select :material_id, Material.all, :id, :name %>
    </li>
    <li>
      <b>Condição</b>&nbsp;
      <%=  p.collection_select :condition_id, Condition.all, :id, :condition %>
    </li>
    <li>
      <b>Marca</b>&nbsp;
      <%=  p.collection_select :brand_id, Brand.all, :id, :name %>
    </li>
  </ul>
</div>
</div>

<div class="block">
<h4>Preço e Quantidade</h4>
<div class="content">
  <%= p.number_field :quantity, :label =>"Quantidade" %>
  <%= p.text_field :price, :label =>"Preço R$" %>

</div>
</div>

<%= p.submit 'Vender', :class =>"btn" %>
<% end %>
