<% title "Políticas" %>
<%= render "shared/vitrine_menu" %>
<div class="box5">
  <div class="flash_box  margin_top">
    <%= render 'shared/flash_messages' %>
    <%= render 'shared/error_messages', :target => @policy %>

  </div>

  <div class="block margin_top">

    <h1>Política</h1>
    <%= form_for @policy, :url => vitrine_policy_path, :method => :put do |p| %>

    <div class="content">
      <div class="subcontent_top">
        <h4>Pagamento</h4>
        <ul>
          <li>
            <!--PAYPAL -->
            <p class="tip">Indique seu email do paypal para recebimento</p>
          </li>
          <li>
            <%= link_to  "https://www.paypal.com/br"  do %>
            <%= content_tag(:span, nil, :class => 'paypal_logo') %>
            <% end %>
          </li>
          <li>
            <p class="tip">Saiba mais sobre o sistema de proteção ao vendedor</p>
            <%= link_to nil, "https://www.paypal.com/br/webapps/mpp/paypal-safety-and-security" %>
          </li>

          <li class="space"></li>
          <li>
            <%= label_tag :paypal, "Paypal", :class=>"label" %>
            <%= p.email_field :paypal %>
          </li>
        </ul>

      </div>

      <div class="subcontent">

        <h4>Envio</h4>
        <p class="tip">Indique as formas de envio disponível</p>
        <%= content_tag(:span, nil, :class => 'shipping') %>
        <%= hidden_field_tag "policy[shipping_ids][]", nil %>
        <% Shipping.all.each do |shipping| %>
        <%= check_box_tag "policy[shipping_ids][]", shipping.id, @policy.shipping_ids.include?(shipping.id), id: dom_id(shipping)%>
        <%= label_tag dom_id(shipping), shipping.kind %>
        <% end %>

      </div>
      <div class="subcontent">
        <h4>Garantias</h4>

        <p class="tip">Garantias como prazo de devoluação e cancelamento do pedido são sempre bem vindos</p>

        <div id="notes-bar"></div>
        <%= p.text_area :guarantee, :id => "notes", :placeholder => "Garantias"%>
        <div id="notes-preview"></div>
        <%= p.submit "Salvar", :class => 'btn' %>

      </div>
    </div>
  </div>
  <% end %>
</div>
<!-- FIM DO CONTAINER-->
